@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.lazy.slider .slick-dots{ bottom:auto;      list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -70px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;}.lazy.slider { margin:0px auto; background-color:#15008d;}
.lazy.slider .slick-prev.slick-arrow,
.lazy.slider .slick-next.slick-arrow{ display:none !important;}
.slick-dots li
{ 

      cursor: pointer;
    display: block;
    height: 20px;
    margin:10px 5px;
    padding: 0;
    position: relative;
    width: 20px; 

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.lazy.slider  .slick-list{    background-color: rgb(22, 0, 141); 
    padding: 5px 0; }
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick'; 
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height:10px; background-color:#ffa6ff;
    content: '';
    text-align: center ;

    opacity: 1;
    color: rgb(255, 255, 255);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


	.left_content{   float: left;
    height: 100%;
    padding: 5em 0 20px 40px;
    width: 45%;}
	.light_up_img{ width:55%; float:right; position:relative;}
	
	
	 .slider {
        width: 100%; max-width:1140px;
        margin:  0px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
	
	.center_dots_arrow .slick-dots li{ display:inline-block}
	.center_dots_arrow .slick-dots li.slick-active button:before{  background-color:#8054c4; opacity:1; -webkit-opacity:1;}
	.center_dots_arrow  .slick-dots li button:before{ background-color:#927fff;}
	.center_dots_arrow .slick-dots li{ margin:0px 6px;}
	.center_dots_arrow .slick-dots{ bottom:-65px;}
	.center_dots_arrow  .slick-prev,.center_dots_arrow  .slick-next{     z-index: 99;   transform:translateX(-50%); -webkit-transform:translateX(-50%); top:auto; bottom:-80px; right:auto;}.center_dots_arrow  .slick-prev:before, .center_dots_arrow  .slick-next:before{ display:none;}
		.center_dots_arrow  .slick-prev{ left:42%; background-image:url(../images/arrow_style.png); background-repeat:no-repeat; height:42px; width:42px;
		background-position:0 0;}
		.center_dots_arrow  .slick-next{ left:58%;  background-image:url(../images/arrow_style.png); background-repeat:no-repeat; height:42px; width:42px;
		background-position:-78px 0;
		}.Clients_section{ padding:1em 0 4em;}
		.Clients_section .slick-list{ box-shadow:none; -webkit-box-shadow:none;}
		.center_dots_arrow .slick-dots li{ width:10px; height:10px;}