.youtubeBlock{
    width: 93%;
    max-width: 560px;
    margin: 100px auto 0 auto;
    height: auto;
    overflow: hidden;
}
.ybox {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}
.ybox > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}