$container: 1100px;
$widepc: 1220px;
$pad: 980px;
$mob: 768px;

%clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@function pxtovw($number) {
    @return $number * 100 / 1441+vw;
}

@function pxtopercent($number, $baseline) {
    @return ($number / $baseline) * 100+'%';
}