@import "_reset.scss";
@import "_var.scss";
@import "./landing/_hero.scss";
@import "./landing/_products.scss";
@import "./landing/_service.scss";
@import "./landing/_comparison.scss";
@import "./landing/_introduction.scss";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    display: block;
}

.carousel-3d-slide {
    background-color: transparent !important;
}

.prev, .next {
    color: #fff !important;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: 'Avenir family', 'Nunito Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    line-height: 1;
}

#app {
    width: 100%; // background-image: url('../images/bg/bg.png');
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $mob) {
        // background-image: url('../images/bg/bg_m.png');
    }
}

.logo {
    display: block;
    float: left;
    width: 300px;
    @media screen and (max-width: $mob) {
        width: 200px;
    }
    img {
        width: 100%;
    }
}

nav {
    @extend %clear;
    @media screen and (max-width: $pad) {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: #3442b0;
        z-index: 1;
        transition: right .5s;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.menu_btn {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 99;
    color: #fff;
    transition: right .5s;
    cursor: pointer;
    &:before,
    &:after {
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        background-color: #fff;
    }
    span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: transparent;
        margin: 3px 0;
    }
    @media screen and (max-width: $pad) {
        display: block;
    }
}

.menu {
    float: right;
    @extend %clear;
    @media screen and (max-width: $pad) {
        float: none;
        margin-top: 80px;
    }
    li {
        display: inline-block;
        @media screen and (max-width: $pad) {
            display: block;
            width: 100%;
            height: 100%;
        }
        &+li {
            margin-left: 50px;
            @media screen and (max-width: $pad) {
                margin-left: 0px;
            }
        }
        a {
            display: block;
            text-decoration: none;
            font-size: 13px;
            line-height: 38px;
            color: rgba(256, 256, 256, 0.8);
            transition: color .5s;
            &:hover {
                color: rgba(256, 256, 256, 1);
            }
            @media screen and (max-width: $pad) {
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                padding: 30px;
                color: #00D5BF;
            }
        }
    }
}

@media screen and (max-width: $pad) {
    .active {
        nav {
            right: 0;
        }
        .menu_btn {
            right: 20px;
            &:before {
                transform: translateY(4px) rotate(45deg);
                background-color: #fff;
            }
            &:after {
                transform: translateY(-6px) rotate(-45deg);
                background-color: #fff;
            }
            span {
                background-color: transparent;
            }
        }
    }
}

.header {
    background-color: #00d5bf;
    padding: 38px 0 206px 0;
    @media screen and (max-width: $pad) {
        padding: 38px 0 80px 0;
    }
    .section {
        @include section();
        @extend %clear;
    }
}

.what {
    width: 100%;
    height: 440px;
    background-color: #232f88;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 5px;
        color: #00D5BF;
        margin-bottom: 38px;
    }
    p {
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        color: #FFF;
        margin-bottom: 45px;
    }
    .play {
        width: 108px;
        height: 107px;
        background: url('../images/what/play.png') center center no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        cursor: pointer;
    }
    iframe {
        width: 640px;
        height: 360px;
        @media screen and (max-width: $mob) {
            width: 300px;
            height: auto;
        }
    }
}

.partner_title {
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 7px;
    text-align: center;
    color: #000;
    margin-bottom: 38px;
}

.partner_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: $mob) {
        flex-wrap: wrap;
        width: 80%;
    }
    a {
        @media screen and (max-width: $mob) {
            margin-bottom: 50px;
        }
        img {
            width: 100%;
        }
    }
}

.ecosystem {
    position: relative;
    &:before {
        content: "";
        display: block;
        border-style: solid;
        border-width: 470px 100vw 0 0;
        border-color: #00d5bf transparent transparent transparent;
        @media screen and (max-width: $mob) {
            border-width: 156px 100vw 0 0;
        }
    }
    &:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 0 100vw 470px 0;
        border-color: transparent #3442b0 transparent transparent;
        position: absolute;
        top: 0;
        @media screen and (max-width: $mob) {
            border-width: 0 100vw 156px 0;
        }
    }
    .section {
        @include section();
        @media screen and (max-width: $mob) {
            margin: 22px auto 0 auto;
        }
    }
    .partner_area {
        .eth {
            @media screen and (max-width: $mob) {
                max-width: 130px;
            }
        }
        .num2 {
            @media screen and (max-width: $mob) {
                max-width: 64px;
            }
        }
        .wan {
            @media screen and (max-width: $mob) {
                max-width: 84px;
            }
        }
        .qtum {
            @media screen and (max-width: $mob) {
                max-width: 120px;
            }
        }
    }
}

.partnership {
    max-width: $container;
    margin: 0 auto 165px auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $mob) {
        margin: 0 auto 50px auto;
    }
    .partner_title {
        margin-bottom: 54px;
        @media screen and (max-width: $mob) {
            margin-bottom: 38px;
        }
    }
    .partner_area {
        .bluzelle {
            @media screen and (max-width: $mob) {
                max-width: 136px;
            }
        }
        .wan {
            @media screen and (max-width: $mob) {
                max-width: 84px;
            }
        }
    }
}

.mediapartner {
    max-width: $container;
    margin: 0 auto 165px auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $mob) {
        margin: 0 auto 50px auto;
    }
    .partner_title {
        margin-bottom: 94px;
        @media screen and (max-width: $mob) {
            margin-bottom: 60px;
        }
    }
    .partner_area {
        justify-content: center;
        a {
            @media screen and (max-width: $mob) {
                max-width: 138px;
            }
        }
    }
}

.footer {
    height: 180px;
    background-color: #F4F4F4;
    text-align: right;
}

.footer_content {
    max-width: $container;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @extend %clear;
    .item_list {
        float: left;
        padding-top: 52px;
        @media screen and (max-width: $mob) {
            float: none;
            padding-top: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width: 440px) {
            flex-wrap: wrap;
        }
        a {
            display: block;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: #232F88;
            float: left;
            position: relative;
            @media screen and (max-width: 440px) {
                margin-bottom: 30px;
            }
            &+a {
                margin-left: 20px;
            }
            &:hover {
                background-color: #00D5BF;
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .telegram {
            img {
                width: 28px;
            }
        }
        .github {
            img {
                width: 22px;
            }
        }
        .twitter {
            img {
                width: 25px;
            }
        }
        .fb {
            img {
                height: 27px;
            }
        }
        .medium {
            img {
                width: 23px;
            }
        }
    }
}

.copyright {
    padding-top: 62px;
    font-size: 13px;
    line-height: 18px;
    color: #3442B0;
    @media screen and (max-width: $mob) {
        text-align: center;
        padding-top: 0;
    }
}