@import "_reset.scss";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
//     font-family: 'Avenir family', 'Nunito', sans-serif;
// 	text-decoration: none;
// }
img {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: 'Avenir family', 'Nunito Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

@function pxtovw($number) {
    @return $number * 100 / 1441+vw;
}

@function pxtopercent($number, $baseline) {
    @return ($number / $baseline) * 100+'%';
}

$container: 1100px;
$pad: 980px;
$mob: 768px;
%clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

#app {
    width: 100%;
    height: auto;
    background-image: url('../images/bg/bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $mob) {
        background-image: url('../images/bg/bg_m.png');
    }
}

.logo {
    display: block;
    float: left;
    width: 300px;
    img {
        width: 100%;
    }
}

nav {
    @media screen and (max-width: $pad) {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: #3442b0;
        z-index: 1;
        transition: right .5s;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.menu_btn {
    display: none;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 99;
    color: #fff;
    transition: right .5s;
    cursor: pointer;
    &:before,
    &:after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }
    span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: transparent;
        margin: 5px 0;
    }
    @media screen and (max-width: $pad) {
        display: block;
    }
}

.menu {
    float: right;
    @extend %clear;
    @media screen and (max-width: $pad) {
        float: none;
        margin-top: 80px;
    }
    li {
        display: inline-block;
        @media screen and (max-width: $pad) {
            display: block;
            width: 100%;
            height: 100%;
        }
        &+li {
            margin-left: 50px;
            @media screen and (max-width: $pad) {
                margin-left: 0px;
            }
        }
        a {
            display: block;
            text-decoration: none;
            font-size: 13px;
            line-height: 38px;
            color: rgba(256, 256, 256, 0.8);
            transition: color .5s;
            &:hover {
                color: rgba(256, 256, 256, 1);
            }
            @media screen and (max-width: $pad) {
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                padding: 30px;
                color: #00D5BF;
            }
        }
    }
}

@media screen and (max-width: $pad) {
    .active {
        nav {
            right: 0;
        }
        .menu_btn {
            right: 20px;
            &:before {
                transform: translateY(8px) rotate(45deg);
                background-color: #fff;
            }
            &:after {
                transform: translateY(-6px) rotate(-45deg);
                background-color: #fff;
            }
            span {
                background-color: transparent;
            }
        }
    }
}

.header_content {
    max-width: $container;
    margin: 0 auto;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
    @extend %clear;
    @media screen and (max-width: $mob) {
        width: 100%;
    }
}

.hero {
    max-width: $container;
    padding: 0 20px;
    margin: 200px auto 400px auto;
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width: $mob) {
        width: 100%;
        padding-bottom: 0;
        margin: 60px auto 80px auto;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.hero_info {
    max-width: 546px;
    float: left;
    position: relative;
    @media screen and (max-width: $mob) {
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    h2 {
        font-size: 50px;
        line-height: 80px;
        color: #fff;
        margin-bottom: 15px;
        @media screen and (max-width: $mob) {
            width: 80%;
            margin: 0 auto 30px auto;
            font-size: 35px;
            line-height: 45px;
        }
        span {
            display: block;
            font-size: 50px;
            line-height: 80px;
            color: #fff;
            @media screen and (max-width: $mob) {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
    p {
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 45px;
        @media screen and (max-width: $mob) {
            width: 80%;
            margin: 0 auto;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
    >span {
        display: block;
        font-size: 14px;
        line-height: 19px;
        color: #4A4A4A;
        padding-left: 17px;
    }
}

#mc_embed_signup_scroll {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    @media screen and (max-width: $mob) {
        width: 100%;
    }
    input.email {
        width: 300px;
        height: 60px;
        font-size: 20px;
        border: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        float: left;
        padding-left: 15px;
        @media screen and (max-width: $mob) {
            width: 70%;
            font-size: 15px;
        }
    }
    .clearbox {
        display: block;
        float: left;
        @media screen and (max-width: $mob) {
            width: 30%;
        }
        >input {
            display: block;
            font-size: 16px;
            width: 150px;
            height: 60px;
            float: left;
            color: #fff;
            transition: color .5s;
            background: linear-gradient(204.32deg, #00D7F7 0%, #0027EC 100%);
            border: 0;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            &:hover {
                color: #00D5BF;
            }
            @media screen and (max-width: 760px) {
                width: 100%;
                font-size: 15px;
            }
        }
    }
    p {
        font-family: Gotham;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: 2px;
        color: #ffffff;
        padding-top: 44px; // @media screen and (max-width: 1441px) {
        //     font-size: pxtovw(18);
        //     padding-top: pxtovw(44);
        // }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192px;
        height: 56px;
        object-fit: contain;
        border-radius: 100px;
        background-color: #324c9a;
        font-family: Gotham;
        font-size: 16px;
        letter-spacing: 1px;
        color: #ffffff;
        margin-top: 48px; // @media screen and (max-width: 1441px) {
        //     width: pxtovw(192);
        //     height: pxtovw(56);
        //     margin-top: pxtovw(48);
        //     font-size: pxtovw(16);
        // }
        @media screen and (max-width: $mob) {
            width: 34%;
            height: 36px;
        }
    }
}

.hero_img {
    max-width: 785px; // width: 785px;
    // height: 574px;
    // background-image: url('../images/heroimage/heroimg.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    position: absolute;
    top: -77px;
    right: -247px;
    z-index: 0;
    @media screen and (max-width: $mob) {
        position: relative;
        top: auto;
        right: auto;
        width: 90%;
        margin: 0 auto 40px auto;
    }
    img {
        width: 100%;
    } // @media screen and (max-width: $mob) {
    //     position: relative;
    //     top: auto;
    //     right: auto;
    //     background-size: auto 100%;
    //     width: 100%;
    //     margin: 0 auto 40px auto;
    //     background-position: top center;
    // }
}

.products {
    max-width: $container;
    width: 90%;
    margin: 0 auto 80px auto;
    h3 {
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 5px;
        color: #000;
        text-align: center;
        margin-bottom: 64px;
        @media screen and (max-width: $mob) {
            margin-bottom: 34px;
        }
    }
    >ul {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mob) {
            display: block;
        }
    }
    .item {
        width: 26.3%;
        height: auto;
        border-radius: 10px;
        background-color: #FFFFFF;
        padding: 30px 20px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        @media screen and (max-width: $mob) {
            width: 90%;
            margin: 0 auto 30px auto;
        }
        .figure {
            margin-bottom: 25px;
            height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                margin: 0 auto;
                @media screen and (max-width: $mob) {
                    width: 208px;
                }
            }
        }
        h4 {
            font-size: 20px;
            line-height: 27px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 47px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #616161;
            text-align: center;
            padding-bottom: 30px;
        }
        a {
            display: inline-block;
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: #23D6A3;
            transition: color .5s;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: auto;
            &:after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border: solid 2px #23D6A3;
                transition: border-color .5s;
                border-top: none;
                border-left: none;
                margin-left: 4px;
                transform: rotate(-45deg);
            }
            &:hover {
                color: #3442B0;
                &:after {
                    border-color: #3442B0;
                }
            }
        }
    }
}

.banner {
    max-width: $container;
    width: 90%;
    margin: 0 auto 80px auto;
}

.banner_info {
    text-align: center;
    h3 {
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #00D5BF;
        margin-bottom: 32px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 47px;
    }
    a {
        display: inline-block;
        width: 200px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        color: #3442B0;
        line-height: 60px;
        border-radius: 100px;
        background: linear-gradient(-208deg, #00F7CB 0%, #00D7EC 100%);
        transition: all .3s;
        border: solid 2px transparent;
        &:hover {
            border-color: #fff;
            color: #fff;
            background: transparent;
        }
    }
}

.slide {
    width: 800px;
    height: 400px;
    img {
        // width: 510px;
    }
}

.service {
    max-width: $container;
    width: 90%;
    margin: 0 auto 125px auto;
    text-align: center;
    h3 {
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 5px;
        color: #00D5BF;
        margin-bottom: 65px;
    }
    >ul {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mob) {
            display: block;
        }
    }
    .item {
        width: 23.5%;
        height: auto;
        @media screen and (max-width: $mob) {
            width: 100%;
            margin-bottom: 30px;
        }
        h4 {
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 1px;
            color: #fff;
            margin: 28px 0 17px 0;
        }
        img {
            max-width: 200px;
            width: 100%;
            margin: 0 auto;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            color: #fff;
        }
    }
}

.what {
    width: 100%;
    height: 440px;
    background-color: #232f88;
    display: flex;
    align-items: center;
    justify-content: center; // @media screen and (max-width: 1367px) {
    //     margin-top: pxtovw(200);
    // }
    // @media screen and (max-width: 760px) {
    //     margin-top: 50px;
    // }
    h3 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 5px;
        color: #00D5BF;
        margin-bottom: 38px; // @media screen and (max-width: 1441px) {
        //     font-size: pxtovw(30);
        // }
    }
    p {
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        color: #FFF;
        margin-bottom: 45px; // @media screen and (max-width: 1441px) {
        //     font-size: pxtovw(18);
        // }
    }
    .play {
        width: 108px;
        height: 107px;
        background: url('../images/what/play.png') center center no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        cursor: pointer;
    }
}

.comparison {
    max-width: $container;
    padding: 0 20px;
    margin: 115px auto 0 auto;
    box-sizing: border-box;
    .comparison_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83.8%;
        margin: 0 auto;
    }
    .comparison_header_left {
        width: 24%;
        order: -1;
        &:after {
            content: "";
            display: block;
            background-image: url("/images/comparison/arrow1.png");
            width: 34px;
            height: 20px;
        }
        img {
            width: 147px;
            margin: 0 auto 20px auto;
        }
    }
    .comparison_header_right {
        width: 24%;
        img {
            width: 195px;
            margin: 0 auto 20px auto;
        }
    }
    h3 {
        font-size: 23px;
        font-weight: bold;
        line-height: 31px;
        text-align: center;
        color: #00D5BF;
        padding-top: 170px;
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        color: #fff;
        text-align: center;
    }
    >ul {
        width: 83.8%;
        margin: 0 auto;
        @media screen and (max-width: $mob) {
            width: 100%;
        }
    }
    .comparison_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $mob) {
            display: block;
            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
    .comparison_left {
        background: url('../images/comparison/oval_base.png') center center no-repeat;
        width: 28.3%;
        height: 187px;
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        position: relative;
        order: -1;
        @media screen and (max-width: $mob) {
            width: 48%;
            float: left;
            height: 119px;
        }
        .figure {
            position: absolute;
            top: 30px;
            left: 0;
            right: 0;
            margin: auto;
            @media screen and (max-width: $mob) {
                top: -40px;
            }
        }
    }
    .comparison_right {
        background: url('../images/comparison/polygon_base.png') center center no-repeat;
        width: 28.3%;
        height: 187px;
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        position: relative;
        @media screen and (max-width: $mob) {
            width: 48%;
            float: right;
            height: 119px;
        }
        .figure {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            margin: auto;
            @media screen and (max-width: $mob) {
                top: -60px;
            }
        }
    }
    .comparison_title {
        width: 21.4%;
        height: 187px;
        position: relative;
        @media screen and (max-width: $mob) {
            max-width: 236px;
            width: 100%;
            margin: 0 auto 65px auto;
        }
        .figure {
            margin-top: 40px;
            @media screen and (max-width: $mob) {
                margin-top: 0;
                position: relative;
            }
            &:before {
                display: none;
                @media screen and (max-width: $mob) {
                    content: "Domain Register";
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 23px;
                    color: #fff;
                    text-align: center;
                    bottom: 40px;
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
        }
        p {
            @media screen and (max-width: $mob) {
                display: none;
            }
        }
    }
    .figure {
        &.godaddy {
            top: 8px;
            img {
                width: 68px;
                margin: 0 auto 18px auto;
            }
        }
        &.domainregister {
            &:before {
                content: "Domain Register";
            }
            img {
                width: 236px;
            }
        }
        &.pnlogo {
            top: 20px;
            img {
                width: 105px;
                margin: 0 auto 16px auto;
            }
        }
        &.windows {
            top: 40px;
            img {
                width: 75px;
                margin: 0 auto 20px auto;
            }
        }
        &.system {
            &:before {
                content: "Operating System";
            }
            img {
                width: 236px;
            }
        }
        &.qtum {
            img {
                width: 85px;
            }
        }
        &.amazo {
            top: 40px;
            img {
                width: 89px;
                margin: 0 auto 29px auto;
            }
        }
        &.storage {
            &:before {
                content: "File Storage";
            }
            img {
                width: 236px;
            }
        }
        &.ipfs {
            top: 26px;
            img {
                width: 75px;
                margin: 0 auto 18px auto;
            }
        }
        &.oracle {
            top: 86px;
            img {
                width: 157px;
                margin: 0 auto 26px auto;
            }
        }
        &.data {
            &:before {
                content: "Data Storage & Management Oracle";
            }
            img {
                width: 236px;
            }
        }
        &.bluzelle {
            top: 22px;
            img {
                width: 89px;
                margin: 0 auto 14px auto;
            }
        }
        &.facebook {
            top: 50px;
            img {
                width: 63px;
                margin: 0 auto 24px auto;
            }
        }
        &.appweb {
            &:before {
                content: "Social Platform";
            }
            img {
                width: 236px;
            }
        }
        &.status {
            top: 46px;
            img {
                width: 64px;
                margin: 0 auto 22px auto;
            }
        }
        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    p {
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    .greenText {
        color: #11EBD4;
    }
    .title_text {
        font-size: 14px;
        font-weight: bold;
        line-height: 23px;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 68px;
        @media screen and (max-width: $mob) {
            font-size: 17px;
        }
    }
}

.partner_title {
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 7px;
    text-align: center;
    color: #000;
    margin-bottom: 38px;
}

.partner_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    @media screen and (max-width: $mob) {
        flex-wrap: wrap;
    }
}

.ecosystem {
    max-width: $container;
    margin: 100px auto 165px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.partnership {
    max-width: $container;
    margin: 100px auto 165px auto;
    padding: 0 20px;
    box-sizing: border-box;
    .partner_title {
        margin-bottom: 54px;
    }
    .partner_area {
        justify-content: center;
        a+a {
            margin-left: 58px;
        }
    }
}

.mediapartner {
    max-width: $container;
    margin: 100px auto 165px auto;
    padding: 0 20px;
    box-sizing: border-box;
    .partner_title {
        margin-bottom: 94px;
    }
    .partner_area {
        justify-content: center;
    }
}

.footer {
    height: 180px;
    background-color: #F4F4F4;
    text-align: right;
}

.footer_content {
    max-width: $container;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @extend %clear;
    .item_list {
        float: left;
        padding-top: 52px;
        @media screen and (max-width: $mob) {
            float: none;
            padding-top: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width: 440px) {
            flex-wrap: wrap;
        }
        a {
            display: block;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: #232F88;
            float: left;
            position: relative;
            @media screen and (max-width: 440px) {
                margin-bottom: 30px;
            }
            &+a {
                margin-left: 30px;
            }
            &:hover {
                background-color: #00D5BF;
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .telegram {
            img {
                width: 28px;
            }
        }
        .github {
            img {
                width: 22px;
            }
        }
        .twitter {
            img {
                width: 25px;
            }
        }
        .fb {
            img {
                height: 27px;
            }
        }
        .medium {
            img {
                width: 23px;
            }
        }
    }
}

.copyright {
    padding-top: 62px;
    font-size: 13px;
    line-height: 18px;
    color: #3442B0;
    @media screen and (max-width: $mob) {
        text-align: center;
    }
}

// .youtube{
//     width: 633px;
//     height: 370px;
//     margin: 129px auto 0 auto;
//     @media screen and (max-width: 1441px) {
//         width: pxtovw(633);
//         height: pxtovw(370);
//         margin: pxtovw(129) auto 0 auto;
//     }
//     @media screen and (max-width: 760px) {
//         width: 70%;
//         height: 140px;
//     }
//     > iframe {
//         display: block;
//         width: 100%;
//         height: 370px;
//         @media screen and (max-width: 1441px) {
//             width: pxtovw(633);
//             height: pxtovw(370);
//         }
//         @media screen and (max-width: 760px) {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }