@import "_reset.scss";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span {
  font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

img {
	display: block;
}

a {
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

$MOB_MOVE_INSIDE_DISTANCE_IN_CHAPTER: 13px;
$MOB_BANNER_HEIGHT: 110px;


#roadmap {
  display: flex;
  padding-top: 122px;
  padding-left: 153px;

  @media screen and (max-width: 1000px) {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    flex-direction: column;
  }
}

.nav {
  position: fixed;
  width: 203px;
  height: 10000px;
  border: 1px solid #e9e9e9;
  overflow-x: scroll;

  @media screen and (max-width: 1000px) {
    position: initial;
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: initial;
    border: 0;
  }
}

.nav-item {
  padding: 24px 12px;
  border-bottom: solid 1px #939393;

  &:last-child {
    border-bottom: 0;
  }

  & .title {
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }

  & .chapter-name {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  @media screen and (max-width: 1000px) {
    margin-right: 25px;
    margin-left: 25px;
    padding: 0 25px 0 0;
    border-right: 1px solid #939393;
    border-bottom: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      border-right: 0;
    }

    & .title {
      font-size: 10px;
    }

    & .chapter-name {
      font-size: 13px;
    }
  }
}

.main {
  margin-left: 247px;
  padding-bottom: 100px;
  width: 100%;
  background-image: url(../images/roadmap/flag-road.png);
  background-repeat: repeat-y;

  @media screen and (max-width: 1000px) {
    margin-left: 0;
    background-image: url(../images/roadmap/flag-road-mobile.png);
  }
}

.chapter {
  padding-bottom: 60px;

  @media screen and (max-width: 1000px) {
    position: relative;
    padding-bottom: 60px;
  }  
}

.banner {
  margin-bottom: 40px;
  height: 190px;
  background-color: red;
  
  @media screen and (max-width: 1000px) {
    margin-bottom: 30px;
    width: 100%;
    height: $MOB_BANNER_HEIGHT;
  }
}

.flag {
  position: relative;
  margin-bottom: 45px;
  padding-left: 42px;

  &:last-child {
    margin-bottom: 0;
  }

  & .headline {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  & .content {
    font-size: 16px;
    line-height: 1.88;
    color: #000;
  }

  &:before {
    position: absolute;
    top: 6px;
    left: -7px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #d8d8d8;
    border: 1px solid #979797;
    content: '';
  }

  @media screen and (max-width: 1000px) {
    &:before {
      left: 11px;
    }
  }
}
















.photoPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000,0.8);
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;

  a.closeBtn{
    position: absolute;
    right: 20%;
    top: 20%;
    color: #fff;
    @media screen and (max-width: 1000px) {
      right: 30px;
      top: 30px;
    }
  }

  >a.picNext{
    display: block;
    width: 50%;
    height: auto;
    @media screen and (max-width: 1000px) {
      width: 90%;
    }
    >img{
      width: 100%;
      height: auto;
    }
  }
}