@import "_reset.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
    font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
img{
	display: block;
}
a{
    cursor: pointer;
}
html, body{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.showcase{
    width: 100%;
    margin-bottom: 300px;
}

@function pxtovw($number, $width : 1366){ 
    @return $number * 100 / $width + vw;
}
@function pxtovh($number, $height : 540){ 
    @return $number * 100 / $height + vh;
}

// @function pxtopercent($number, $baseline){ 
//     @return ($number / $baseline) * 100 + %;
// }
@mixin media-1366() {
    @media screen and (max-width: 1366px){
        @content;
    }  
}
@mixin media-375() {
    @media screen and (max-width: 414px){
        @content;
    }  
}

@import "./showcase/_header.scss";
@import "./showcase/_menu.scss";
@import "./showcase/_selectBar.scss";
@import "./showcase/_showItem.scss";