@import "_reset.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
    font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
img{
	display: block;
}
a{
    cursor: pointer;
}
html, body{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

@function pxtovw($number, $vw){ 
    @return $number * 100 / $vw + vw;
}
// @function pxtopercent($number, $baseline){ 
//     @return ($number / $baseline) * 100 + %;
// }
.showcase{
    width: 100%;
    // height: auto;
    // overflow: hidden;
    margin-bottom: 300px;
}
@import "./showcase/_header.scss";
@import "./showcase/_menu.scss";
@import "./showcase/_selectBar.scss";
@import "./showcase/_showItem.scss";