<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="description" content="Portal Network Roadmap">
	<meta name="author" content="Portal Network">
	<meta name="keywords" content="Portal Network Roadmap" />
	<meta property="og:title" content="Portal Network Roadmap" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Portal Network Roadmap" />
  <meta property="og:url" content="https://www.portal.network/roadmap.html" />
  <meta property="og:image" content="./assets/meta_share.png" />
  <meta property="og:image:url" content="./assets/meta_share.png" />
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>

  <script>
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/an50zjec'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
  </script>
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KKLX3T6');
  </script>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKLX3T6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  
  <div id="newRoadmap" :class="{active: isMenuOpen}" v-cloak>
    <a class="menu_btn" @click="toggleMenuFn">
      <span></span>
    </a>
    <nav>
      <ul class="menu">
        <li>
          <a href="./blog.html" target="_blank">Blog</a>
        </li>
        <li>
          <a href="./document.html">Documentation</a>
        </li>
        <li>
          <a href="https://search.portal.network/" target="_blank">Showcase</a>
        </li>
        <li>
          <a href="https://hackathon.portal.network/" target="_blank">Hackathon</a>
        </li>
        <li>
          <a href="https://forum.portal.network/" target="_blank">Forum</a>
        </li>
      </ul>
    </nav>
    <div class="twinkling"></div>
    <div class="header">
      <h1>
        <a href="./index.html">
          <img src="./images/logo/logo_w.png" alt="">
        </a>
      </h1>
      <h2>Roadmap</h2>
    </div>

    <div class="main">

      <div class="introduction">
        <h3>Introduction</h3>
        <p>Portal Network solves the problem of user adoption, complexity, human error and lack of interoperability by deploying BNS standard across multiple blockchain protocols.</p>
      </div>

      <div class="eventTime_box">
        <h3>Next Roadmap Update</h3>
        <div class="time_table">
          <div class="time_box">
            <p class="time_text">00</p>
            <p class="time_unit">DAYS</p>
          </div>
          <div class="separator">:</div>
          <div class="time_box">
            <p class="time_text">00</p>
            <p class="time_unit">HOURS</p>
          </div>
          <div class="separator">:</div>
          <div class="time_box">
            <p class="time_text">00</p>
            <p class="time_unit">MIN</p>
          </div>
          <div class="separator">:</div>
          <div class="time_box">
            <p class="time_text">00</p>
            <p class="time_unit">SEC</p>
          </div>
        </div>
      </div>

      <div class="filter_header">
        <ul>
          <li><a href="javascript:;" @click="handActive(0)">Show All</a></li>
          <li><a href="javascript:;" @click="handActive(1)">Documentation</a></li>
          <li><a href="javascript:;" @click="handActive(2)">Application</a></li>
          <li><a href="javascript:;" @click="handActive(3)">Education and Partnership</a></li>
          <li><a href="javascript:;" @click="handActive(4)">Event</a></li>
        </ul>
        <div class="arraw_box">
          <span class="arrow"></span>
        </div>
      </div>

      <div class="update">
        
      </div>

      <div class="new">
          <h3>Latest News</h3>
          <div class="new_list">
            <div class="new_item" v-for="(news, idx) in newData" :key="idx">
              <div class="time">
                <span class="c_clock">
                  <i class="far fa-clock" aria-hidden="true"></i>
                </span>
                <p>{{ news.time }}</p>
              </div>
              <h4>
                <a :href="news.url" target="_blank">{{ news.title }}</a>
              </h4>
            </div>
          </div>
      </div>

      <div class="social">
        <h3>Social Media</h3>
        <div class="social_list">
          <a class="social_item telegram" href="https://t.me/portalnetworkofficial" target="_blank">
            <img src="./images/newroadmap/s_Te.png" alt="">
          </a>
          <a class="social_item github" href="https://github.com/portalnetwork" target="_blank">
            <img src="./images/newroadmap/s_g.png" alt="">
          </a>
          <a class="social_item twitter" href="https://twitter.com/itisportal" target="_blank">
            <img src="./images/newroadmap/s_t.png" alt="">
          </a>
          <a class="social_item fb" href="https://www.facebook.com/portalnetworkofficial" target="_blank">
            <img src="./images/newroadmap/s_fb.png" alt="">
          </a>
          <a class="social_item medium" href="https://medium.com/portalnetworkofficial" target="_blank">
            <img src="./images/newroadmap/s_M.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <div v-show="isOpenPop" class="photoPop">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(photo, photoIdx) in nowPhotos">
            <img :src="photo" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div>
      <a @click="closeModal" class="closeBtn">
        <i class="fas fa-times fa-2x"></i>
      </a>
    </div>

    </div>
  </div>

</body>

</html>