<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Network | Roadmap</title>
  <meta name="viewport" content="width=640, user-scalable=no, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="Keywords" content="" />
  <meta property="og:title" content="Portal Network Roadmap" />
  <meta property="og:description" content="The launch of Portal Network makes " />
  <meta property="og:url" content="https://www.portal.network/roadmap" />
  <meta property="og:image" content="https://imgur.com/a/UA5bumd" />
  <meta property="og:image:url" content="" />
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link href="css/roadmap.css?97123" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script>
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/an50zjec'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
  </script>

  <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KKLX3T6');
  </script>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKLX3T6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <div class="header">
    <div class="header-container">
      <a href="/">
        <img src="images/roadmap/logo.svg" />
      </a>

      <ul class="outline">
        <li>
          <a target="_blank" href="https://hackathon.portal.network/">Hackathon</a>
        </li>
        <li>
          <a target="_blank" href="blog.html">Blog</a>
        </li>
        <li>
          <a href="./showcase.html" target="_blank">Showcase</a>
        </li>
      </ul>

    </div>
  </div>

  <div id="roadmap">
      <a href="https://t.me/portalnetworkofficial" class="telegramBtn" target="_blank"><img src="./images/tel.png" alt=""></a>
    <div class="nav">
      <div class="nav-item" @click="scrollToChapter(0)">
        <span class="title">Chapter 1</span>
        <span class="chapter-name">Documentation</span>
      </div>
      <div class="nav-item" @click="scrollToChapter(1)">
        <span class="title">Chapter 2</span>
        <span class="chapter-name">Application</span>
      </div>
      <div class="nav-item" @click="scrollToChapter(2)">
        <span class="title">Chapter 3</span>
        <span class="chapter-name">Education and Partnership</span>
      </div>
      <div class="nav-item" @click="scrollToChapter(3)">
        <span class="title">Chapter 4</span>
        <span class="chapter-name">Event</span>
      </div>
    </div>

    <div class="main">
      <div class="chapter" v-for="(chapter, chapterIdx) in roadmapData" :key="chapterIdx">
        <div class="banner">
          <div class="icon">
            <img :src="chapter.icon" />
          </div>
          <span class="title">{{ chapter.title }}</span>
        </div>

        <div class="flag" v-for="(flag, flagIdx) in chapter.flags" :key="flagIdx">
          <div class="headline-container">
            <h1 class="headline">{{ flag.title }}</h1>
            <div class="icons-container">
              <a v-for="(link, linkIdx) in flag.links" :key="link.url" :href="link.url" :class="{icon: true, link: true, expand: flag.links.length >= 2 }"
                target="_blank">
                {{ flag.links.length >= 2 ? link.title: '' }}
              </a>

              <a v-for="(video, videoIdx) in flag.videos" :key="video.url" :href="video.url" :class="{icon: true, video: true, expand: flag.videos.length >= 2 }"
                target="_blank">
                {{ flag.videos.length >= 2 ? video.title: '' }}
              </a>

              <a v-for="(file, fileIdx) in flag.files" :key="file.url" :href="file.url" :class="{icon: true, file: true, expand: flag.files.length >= 2 }"
                target="_blank">
                {{ flag.files.length >= 2 ? file.title: '' }}
              </a>

              <a v-for="(github, githubIdx) in flag.githubs" :key="github.url" :href="github.url" :class="{icon: true, github: true, expand: flag.githubs.length >= 2 }"
                target="_blank">
                {{ flag.githubs.length >= 2 ? github.title: '' }}
              </a>
            </div>
          </div>

          <div class="time-location">
            {{ `${flag.time}, ${flag.location}` }}
          </div>

          <div class="content">
            <div :class="{description: true, 'has-photos': flag.photos.length > 0}" v-html="flag.content"></div>
            <div class="photos" v-if="flag.photos.length > 0">
              <div @click="openModal(flag.photos)" :class="{ cover: flag.photos.length > 2 && photoIdx === 1}" v-for="(photo, photoIdx) in flag.photos"
                :key="photoIdx" v-if="photoIdx < 2">
                <img :src="`/images/roadmap/${photo}`" />
                <span class="number">{{`+${flag.photos.length}`}}</span>
              </div>
            </div>
          </div>

          <div class="progress-container" v-if="flag.progress > 0">
            <div class="progress-bar">
              <div class="progress" :style="{ width: flag.progress + '%'}"></div>
            </div>
            <span class="number">{{ `${flag.progress}%` }}</span>
          </div>
        </div>
      </div>
    </div>

    <div v-show="isOpenPop" class="photoPop">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(photo, photoIdx) in nowPhotos">
            <img :src="`/images/roadmap/${photo}`" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div>
      <a @click="closeModal" class="closeBtn">
        <i class="fas fa-times fa-2x"></i>
      </a>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
  <script src="js/roadmap.js?8723"></script>
</body>

</html>