<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portal Network | ShowCase</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="Keywords" content="" />
  <meta property="og:title" content="Portal Network Roadmap" />
  <meta property="og:description" content="The launch of Portal Network makes " />
  <meta property="og:url" content="https://www.portal.network/roadmap" />
  <meta property="og:image" content="https://imgur.com/a/UA5bumd" />
  <meta property="og:image:url" content="" />
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link href="./css/showcase.css?132994" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/TextPlugin.min.js"></script>
  <script>
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/an50zjec'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
  </script>
  <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KKLX3T6');
  </script>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKLX3T6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <div class="showcase">
    <header class="menu_bar">
      <div class="mid">
        <a class="logo" href="https://www.portal.network/"></a>
        <a id="openMenuBtn" @click="menuOpen"></a>
        <nav :class="{open: m_open}">
          <a id="closeMenuBtn" @click="menuOpen"></a>
          <a target="_blank" href="https://hackathon.portal.network/">Hackathon</a>
          <a target="_blank" href="https://portalnetwork.blog/">Blog</a>
          <a href="roadmap.html" target="_blank">Roadmap</a>
          <a href="submitdweb.html" class="top_style" target="_blank">Submit a ÐWEB</a>
          <div class="mobil_product">
            <a href="https://beta.portal.network/" target="_blank">
              <img src="./images/Showcase/Mobile/menu_marketplace@2x.svg" alt="">
              <p>Martketplace</p>
            </a>
            <a href="https://chrome.google.com/webstore/detail/portal-network/apcnffelpkinnpoapmokieojaffmcpmf" target="_blank">
              <img src="./images/Showcase/Mobile/menu_extension@2x.svg" alt="">
              <p>Extension</p>
            </a>
            <a href="https://web.portal.network/" target="_blank">
              <img src="./images/Showcase/Mobile/menu_webbuilder@2x.svg" alt="">
              <p>Web Builder</p>
            </a>
          </div>
          <div class="mobil_communities">
            <a href="https://t.me/portalnetworkofficial" target="_blank">
              <img src="./images/Showcase/Mobile/sm_telegtam.png" alt="">
            </a>
            <a href="https://github.com/portalnetwork" target="_blank">
              <img src="./images/Showcase/Mobile/sm_github@2x.svg" alt="">
            </a>
            <a href="https://medium.com/portalnetworkofficial" target="_blank">
              <img src="./images/Showcase/Mobile/sm_medium@3x.svg" alt="">
            </a>
            <a href="https://twitter.com/itisportal" target="_blank">
              <img src="./images/Showcase/Mobile/sm_twitter@2x.svg" alt="">
            </a>
            <a href="https://www.facebook.com/portalnetworkofficial/" target="_blank">
              <img src="./images/Showcase/Mobile/sm_facebook@2x.svg" alt="">
            </a>
          </div>
        </nav>
      </div>
    </header>
    <article class="banner">
      <div class="banner_info">
        <div class="b_img"></div>
        <div class="b_content">
          <h2>
            <span id="txt">
              {{arrjoin}}
            </span>
          </h2>
          <p>Build your own decentralized website.</p>
          <a href="https://web.portal.network/" target="_blank">Get a free one now</a>
        </div>
      </div>
    </article>
    <div :class="['select_bar',{fixed: isFixed}]">
      <div class="mid">
        <nav>
          <div class="bar_width">
            <a :class="{active: selectidx === 2}" @click="handActive(2)">Dapp</a>
            <a :class="{active: selectidx === 0}" @click="handActive(0)">About me</a>
            <a :class="{active: selectidx === 5}" @click="handActive(5)">WanChain</a>
            <a :class="{active: selectidx === 6}" @click="handActive(6)">WBC</a>
            <a :class="{active: selectidx === 1}" @click="handActive(1)">Hackathon</a>
            <a :class="{active: selectidx === 3}" @click="handActive(3)">RISE</a>
            <a :class="{active: selectidx === 4}" @click="handActive(4)">Other Dweb</a>
          </div>
        </nav>
        <!-- <div class="input_bar">
                    <input type="text" name="" id="" placeholder="Your  domain  name">
                    <i class="fas fa-search"></i>
                </div> -->
      </div>
    </div>

    <div class="show_item">
      <div class="loading_page" v-if="isLoad">
        <div>
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
          <p>loading...</p>
        </div>
      </div>
      <div class="itemBox" v-for="(item, idx) in caseInfoArr" :key="idx">
        <a :href="item.url" class="case_item" target="_blank">
          <div class="case_demo">
            <div class="case_photo" :style="demophoto(idx)"></div>
          </div>
          <div class="info">
            <div>
              <h2>{{item.name}}</h2>
              <p>{{item.domain}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <a class="gotoTopbtn" @click="gotoPageTop"></a>

    <div class="share_box">
      <!-- open -->
      <a :class="['share_btn', {open: shareOpen}]" @click="fixedPopOpen"></a>
      <!-- open -->
      <div :class="['share_bg', {open: shareOpen}]">
        <div class="content">
          <nav>
            <a href="https://beta.portal.network/" target="_blank">
              <img src="./images/Showcase/Mobile/menu_marketplace@2x.svg" alt="">
              <p>Martketplace</p>
            </a>
            <a href="https://chrome.google.com/webstore/detail/portal-network/apcnffelpkinnpoapmokieojaffmcpmf" target="_blank">
              <img src="./images/Showcase/Mobile/menu_extension@2x.svg" alt="">
              <p>Extension</p>
            </a>
            <a href="https://web.portal.network/" target="_blank">
              <img src="./images/Showcase/Mobile/menu_webbuilder@2x.svg" alt="">
              <p>Web Builder</p>
            </a>
          </nav>
          <div class="share_item">
            <a href="https://t.me/portalnetworkofficial" target="_blank">
              <img src="./images/Showcase/Mobile/sm_telegtam@2x.svg" alt="">
            </a>
            <a href="https://github.com/portalnetwork" target="_blank">
              <img src="./images/Showcase/Mobile/sm_github@2x.svg" alt="">
            </a>
            <a href="https://medium.com/portalnetworkofficial" target="_blank">
              <img src="./images/Showcase/Mobile/sm_medium@2x.svg" alt="">
            </a>
            <a href="https://twitter.com/itisportal" target="_blank">
              <img src="./images/Showcase/Mobile/sm_twitter@2x.svg" alt="">
            </a>
            <a href="https://www.facebook.com/portalnetworkofficial/" target="_blank">
              <img src="./images/Showcase/Mobile/sm_facebook@2x.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="https://t.me/portalnetworkofficial" class="telegramBtn" target="_blank">
      <img src="./images/Showcase/tel.png" alt="">
    </a>

  </div>
  <script src="./js/showcase.js?23142"></script>


</body>
</html>