<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<title>Portal Network | Submit a ÐWEB</title>
	<meta name="description" content="Portal Network Submit a ÐWEB">
	<meta name="author" content="Portal Network">
	<meta name="keywords" content="Portal Network Submit a ÐWEB" />
	<meta property="og:title" content="Portal Network Submit a ÐWEB" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Portal Network Submit a ÐWEB" />
  <meta property="og:url" content="https://www.portal.network/submitdweb.html" />
  <meta property="og:image" content="./assets/meta_share.png" />
  <meta property="og:image:url" content="./assets/meta_share.png" />
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
	<div id="submitdweb" :class="{active: isMenuOpen}" v-cloak>
    <a class="menu_btn" @click="toggleMenuFn">
      <span></span>
    </a>
    <div class="header">
      <h1 class="logo"><a href="./index.html"><img src="images/logo/logo_b.png" alt=""></a></h1>
      <nav>
        <ul class="menu">
          <li>
            <a @click="gaSeedPageView('blog')" href="blog.html" target="_blank">Blog</a>
          </li>
          <li>
            <a @click="gaSeedPageView('document')" href="./document.html" target="_blank">Documentation</a>
          </li>
          <li>
            <a @click="gaSeedPageView('showcase')" href="https://search.portal.network/" target="_blank">Showcase</a>
          </li>
          <li>
            <a @click="gaSeedPageView('hackathon')" href="https://hackathon.portal.network/" target="_blank">Hackathon</a>
          </li>
          <li>
            <a @click="gaSeedPageView('forum')" href="https://forum.portal.network/" target="_blank">Forum</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="form_box">
        <div class="content">
            <h3>Submit a ÐWEB</h3>
            <p>Fill in this form in order to build a ÐWEB and be on our showcase.</p>
        </div>
        <ul>
          <li class="row">
            <label class="label">Website Name</label>
            <input type="text" class="input" v-model.trim="name" />
          </li>
          <li class="row">
            <label for="email" class="label">Email</label>
            <input type="text" :class="['input', {invalid: emailError}]" v-model.trim="email" />
            <p class="warning" v-if="email.length > 0 && emailError">Incorrect Email.</p>
          </li>
          <li class="row">
            <label for="hash" class="label">IPFS Hash*</label>
            <input type="text" class="input" maxlength="46" v-model.trim="hash"/>
            <p class="warning" v-if="hash.length > 0 && hashError">Incorrect IPFS Hash.</p>
            <p class="warning" v-if="hash.length === 0 && hashRequiredError">Required field.</p>
          </li>
          <li class="row">
            <label for="domain" class="label">Domain Name*</label>
            <input type="text" class="input" v-model.trim="domain"/>
            <p class="warning" v-if="domain.length === 0 && domainRequiredError">Required field.</p>
          </li>
          <li class="row">
            <div class="tag_box">
              <label class="label">Tag*</label>
              <div class="md_tag">
                <input type="radio" id="dapp" class="custom_radio" value="dapp" v-model="tag">
                <label for="dapp"><span></span>ÐApp</label>
              </div>
              <div class="md_tag">
                <input type="radio" id="aboutme" class="custom_radio" value="aboutme" v-model="tag">
                <label for="aboutme"><span></span>About me</label>
              </div>
              <div class="md_tag">
                <input type="radio" id="hackathon" class="custom_radio" value="hackathon" v-model="tag">
                <label for="hackathon"><span></span>Hackathon</label>
              </div>
              <div class="md_tag">
                <input type="radio" id="rise" class="custom_radio" value="rise" v-model="tag">
                <label for="rise"><span></span>Rise</label>
              </div>
              <div class="md_tag">
                <input type="radio" id="otherdweb" class="custom_radio" value="otherdweb" v-model="tag">
                <label for="otherdweb"><span></span>Other ÐWeb</label>
              </div>
              <p class="warning" v-if="tag.length === 0 && tagRequiredError">Required field.</p>
            </div>
          </li>
          <li class="row">
            <label for="description" class="label">Description</label>
            <textarea class="textarea" v-model.trim="description"></textarea>
          </li>
        </ul>
        <button type="button" class="submit" @click="validator">Submit</button>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li><a href="./privacy_policy.html" target="_blank">Privacy & Policy</a></li>
        <li><a href="./terms_coditions.html" target="_blank">Terms of use</a></li>
      </ul>
      <p class="copyRight">© 2018 Portal Network</p>
    </div>
  </div>
<script type="text/javascript" src="./js/vendor.js?2de7c8f8&2de7c8f833b3746d189c"></script><script type="text/javascript" src="./js/submitdweb.js?2de7c8f8&2de7c8f833b3746d189c"></script></body>

</html>