.select_bar{
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 10px 5px rgba(#000, 0.1);
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 3;
        @include media-740() {
            position: relative;
        }
    }
    @include media-740() {
        height: auto;
        padding-bottom: 15px;
    }
    .mid{
        width: 95%;
        height: 100%;
        max-width: 1355px;
        margin: 0 auto;
        padding-top: 30px;
        @include media-740(){
            padding-top: 20px;
        }
        nav{
            height: auto;
            float: left;
            @include media-740(){
                float: none;
                width: 90%;
                margin: 0 auto;
            }
            .bar_width{
                height: auto;
                overflow: hidden;
                @include media-740() {
                    width: 90%;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                    overflow-x: scroll;
                }
                // @include media-740() {
                //     width: 350px;
                // }
                a{
                    color: #c8c8c8;
                    font-family: Avenir;
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 38px;
                    transition: color .2s;
                    white-space: nowrap;
                    @include media-740() {
                        margin-right: 0px;
                        padding: 8px 10px;
                    }
                    &.active, &:hover{
                        color: #232323;
                        @include media-740() {
                            border-radius: 16.5px;
                            background-color: #d8d8d8;
                        }
                    }
                }
            }
        }
        .input_bar{
            width: 300px;
            height: 30px;
            float: right;
            border-bottom: solid 1px #979797;
            @include media-740(){
                float: none;
                width: 90%;
                height: 30px;
                margin: 40px auto 0 auto;
            }
            input{
                outline: none;
                width: 90%;
                border: 0;
            }
        }
    }
}