@import "../_var.scss";
.comparison {
    background-color: #3442b0;
    padding-top: 114px;
    .section {
        @include section();
    }
    >ul {
        width: 88%;
        margin: 0 auto;
        @media screen and (max-width: $pad) {
            width: 100%;
        }
    }
    p {
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    .greenText {
        color: #11EBD4;
    }
}

.comparison_header {
    padding-bottom: 80px;
    margin: 0 auto 40px auto;
    position: relative;
    @extend %clear;
    @media screen and (max-width: $pad) {
        display: block;
        width: 95%;
        margin: 0 auto 50px auto;
    }
    h3 {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        color: #00D5BF;
        position: absolute;
        bottom: 78px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: $pad) {
            position: relative;
        }
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .arrow {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid #00D5BF 2px;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        margin: auto;
        animation: arrow 2s infinite;
        &.num2 {
            bottom: -45px;
            animation: arrow2 2s infinite;
        }
        &.num3 {
            bottom: -60px;
            animation: arrow3 2s infinite;
        }
    }
}

@keyframes arrow {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: rotate(45deg);
        opacity: 0.3;
    }
}

@keyframes arrow2 {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: rotate(45deg);
        opacity: 0.6;
    }
}

@keyframes arrow3 {
    0% {
        // @include animation(ball01 3s infinite alternate);
        // @include transform(translate3d(0px,0px,0)
        transform: rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: rotate(45deg);
        opacity: 1;
    }
}

.comparison_header_left {
    width: 312px;
    order: -1;
    height: 200px;
    position: relative;
    float: left;
    @media screen and (max-width: $pad) {
        width: 50%;
        float: left;
        height: 160px;
    }
    img {
        max-width: 147px;
        width: 147px;
        margin: 0 auto;
        @media screen and (max-width: $pad) {
            width: 70%;
        }
    }
    h4 {
        @media screen and (max-width: $pad) {
            bottom: -14px;
        }
    }
}

.comparison_header_right {
    width: 312px;
    height: 200px;
    position: relative;
    float: right;
    @media screen and (max-width: $pad) {
        width: 50%;
        float: left;
        height: 160px;
    }
    img {
        max-width: 195px;
        width: 195px;
        margin: 0 auto;
        @media screen and (max-width: $pad) {
            width: 70%;
        }
    }
    h4 {
        @media screen and (max-width: $pad) {
            bottom: -14px;
        }
    }
}

.comparison_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    @media screen and (max-width: $pad) {
        display: block;
        margin-bottom: 60px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 76px;
    }
}

.comparison_caption {
    position: relative;
    margin-top: -55px;
    @media screen and (max-width: $pad) {
        margin-top: 0;
    }
    &:before {
        content: "";
        font-size: 14px;
        line-height: 1;
        font-weight: bold;
        color: #fff;
        text-align: center;
        position: absolute;
        left: 13px;
        right: 0;
        top: 80px;
    }
    img {
        margin: 0 auto;
    }
    &.domainregister {
        &:before {
            content: "Domain Register";
        }
        img {
            width: 236px;
        }
    }
    &.system {
        &:before {
            content: "Operating System";
        }
        img {
            width: 236px;
        }
    }
    &.storage {
        &:before {
            content: "File Storage";
        }
        img {
            width: 236px;
        }
    }
    &.data {
        &:before {
            content: "Data Storage & Management Oracle";
        }
        img {
            width: 236px;
        }
    }
    &.appweb {
        &:before {
            content: "Social Platform";
        }
        img {
            width: 236px;
        }
    }
}

.comparison_caption_text {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    @media screen and (max-width: $mob) {
        font-size: 17px;
    }
}

.comparisonBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    @media screen and (max-width: $pad) {
        bottom: 50px;
    }
    @media screen and (max-width: $mob) {
        bottom: 30px;
    }
    @media screen and (max-width: 450px) {
        bottom: 28px;
    }
    img {
        max-width: 100%;
        width: 100%;
    }
}

.comparison_left {
    position: relative;
    order: -1;
    @media screen and (max-width: $pad) {
        width: 50%;
        float: left;
        height: auto;
    }
    &:before {
        content: "";
        display: block;
        width: 312px;
        height: 110px;
        background: url('../images/comparison/oval_base.png') bottom center no-repeat;
        background-size: 100% auto;
        padding-top: 70px;
        margin: 0 auto;
        @media screen and (max-width: $pad) {
            background-size: auto 50%;
        }
        @media screen and (max-width: $mob) {
            width: 90%;
            padding-top: 20px;
        }
        @media screen and (max-width: 450px) {
            background-size: auto 34%;
        }
    }
    .godaddy {
        .figure {
            max-width: 68px;
            margin: 0 auto 18px auto;
            @media screen and (max-width: $mob) {
                max-width: 45px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .windows {
        .figure {
            width: 75px;
            margin: 0 auto 20px auto;
            @media screen and (max-width: $mob) {
                max-width: 50px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .amazo {
        .figure {
            width: 89px;
            margin: 0 auto 29px auto;
            @media screen and (max-width: $mob) {
                max-width: 59px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .oracle {
        .figure {
            width: 157px;
            margin: 0 auto 26px auto;
            @media screen and (max-width: $mob) {
                max-width: 104px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .facebook {
        .figure {
            width: 63px;
            margin: 0 auto 24px auto;
            @media screen and (max-width: $mob) {
                max-width: 42px;
                margin: 0 auto 6px auto;
            }
        }
    }
}

.comparison_right {
    position: relative;
    max-height: 180px;
    @media screen and (max-width: $pad) {
        width: 50%;
        float: left;
        height: 130px;
    }
    &:before {
        content: "";
        display: block;
        width: 313px;
        height: 120px;
        background: url('../images/comparison/polygon_base.png') bottom center no-repeat;
        background-size: 100% auto;
        padding-top: 60px;
        margin: 0 auto;
        @media screen and (max-width: $pad) {
            background-size: auto 50%;
        }
        @media screen and (max-width: $mob) {
            width: 90%;
            height: 110px;
            padding-top: 20px;
        }
        @media screen and (max-width: 450px) {
            background-size: auto 37%;
        }
    }
    .comparisonBox {
        @media screen and (max-width: $pad) {
            bottom: -8px;
        }
        @media screen and (max-width: $mob) {
            bottom: 30px;
        }
        @media screen and (max-width: 450px) {
            bottom: 20px;
        }
    }
    .comparisonbox_col3 {
        width: 220px;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: $pad) {
            width: 213px;
            bottom: 30px;
        }
        @media screen and (max-width: $mob) {
            width: 180px;
        }
        @media screen and (max-width: $mob) {
            left: -10px;
        }
    }
    .pnlogo {
        .figure {
            width: 105px;
            margin: 0 auto 16px auto;
            @media screen and (max-width: $mob) {
                max-width: 70px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .wan {
        display: inline-block;
        .figure {
            width: 66px;
            margin: 0 auto 20px auto;
            @media screen and (max-width: $mob) {
                max-width: 44px;
                margin: 0 auto 6px auto;
            }
            @media screen and (max-width: 365px) {
                max-width: 44px;
            }
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .qtum {
        display: inline-block;
        .figure {
            width: 85px;
            margin: 0 auto 22px auto;
            @media screen and (max-width: $mob) {
                max-width: 56px;
                margin: 0 auto 6px auto;
            }
            @media screen and (max-width: 365px) {
                max-width: 48px;
            }
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .eth {
        display: inline-block;
        .figure {
            height: 82px;
            margin: 0 auto 16px auto;
            @media screen and (max-width: $mob) {
                height: 54px;
                margin: 0 auto 6px auto;
            }
            @media screen and (max-width: 365px) {
                height: 46px;
            }
            img {
                max-width: 100%;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
    .ipfs {
        .figure {
            width: 75px;
            margin: 0 auto 18px auto;
            @media screen and (max-width: $mob) {
                max-width: 50px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .bluzelle {
        .figure {
            width: 89px;
            margin: 0 auto 14px auto;
            @media screen and (max-width: $mob) {
                max-width: 59px;
                margin: 0 auto 6px auto;
            }
        }
    }
    .status {
        .figure {
            width: 64px;
            margin: 0 auto 22px auto;
            @media screen and (max-width: $mob) {
                max-width: 42px;
                margin: 0 auto 6px auto;
            }
        }
    }
}