.chain {
  background-color: $purple_d;
  padding: 50px 0px;
  // height: 320px;
  // overflow: hidden;
  // transition: height .3s;
  // &.open{
  //   height: 700px;
  // }
  .content {
    max-width: $container;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
  }
}

.chain_header {
  width: 100%;
  height: 264px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mob) {
    display: block;
  }
  .portal{
    width: 32%;
    height: 100%;
    position: relative;
    text-align: center;
    @media screen and (max-width: $mob) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    >a {
      display: inline-block;
      width: 148px;
      img{
        width: 100%;
        height: auto;
      }
    }
    >h3{
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      line-height: 1.3;
      color: $gray_l;
      padding-top: 28px;
      @media screen and (max-width: $mob) {
        padding-top: 20px;
      }
    }
  }
  >ul{
    width: 45%;
    @media screen and (max-width: $mob) {
      width: 100%;
    }
    >li{
      width: 20%;
      height: 76px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      >a{
        display: block;
        width: 52px;
        height: 57px;
        opacity: 0.4;
        transition: opacity .5s;
        &.active {
          opacity: 1;
        }
        >img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.item_schedule{
  width: 100%;
  height: 436px;
  @media screen and (max-width: $mob) {
    height: auto;
    overflow: hidden;
  }
  >ul{
    width: 100%;
    >li{
      display: block;
      width: 50%;
      height: 75px;
      float: left;
      padding: 0 40px;
      margin-top: 23px;
      @media screen and (max-width: $mob) {
        width: 100%;
        height: auto;
        padding: 0px;
      }
      &:first-child {
        @media screen and (max-width: $mob) {
          display: none;
        }
      }
      .item_title{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media screen and (max-width: $mob) {
          padding-top: 0px;
          float: none;
          white-space: nowrap;      
        }
        >h1{
          position: relative;
          font-family: Avenir;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 500;
          color: #15dacb;
          padding-left: 30px;
          padding-top: 4px;
          float: left;
          @media screen and (max-width: $mob) {
            padding-top: 0px;
          }
          &::before{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content:"";
            width: 22px;
            height: 24px;
            background-image: url("~bullet@2x.png");
            background-size: 100% 100%;
          }
        }
        >.urlItem {
          margin-left: 10px;
          >li {
            display: inline-block;
            &+li {
              margin-left: 10px;
            }
            >a {
              display: block;
              width: 22px;
              &:hover {
                img {
                  opacity: .7;
                  transform: translate3d(0px, 0px, 0px);
                }
              }
              img {
                width: 100%;
                opacity: 1;
                transform: translate3d(0px, 3px, 0px);
                transition: all 0.3s;
              }
            }
          }
        }
        >a{
          display: block;
          width: 19px;
          height: 19px;
          float: left;
          background-color: red;
          margin-top: 4px;
          margin-left: 8px;
        }
      }
      p.description{
        color: #fff;
        line-height: 1.3;
        padding-left: 32px;
      }
      .percentage_box{
        width: 100%;
        height: 15px;
        margin-top: 15px;
        >.percentage_bg{
          position: relative;
          width: 75%;
          height: 6px;
          background-color: #0c1346;
          float: left;
          margin-left: 34px;
          margin-top: 4px;
          @media screen and (max-width: $mob) {
            width: 70%;
          }
          .percentage_bar{
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #15dacb;
          }
        }
        h2{
          float: right;
          color: #fff;
        }
      }
    }
  }
}