@import "_var.scss";

.feed {
  padding: 50px 0px;
  background-color: #F7F6F4;
  .content {
    max-width: $container;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: $mob) {
      display: block;
    }
  }
}

.feed_box {
  width: 48%;
  &+.feed_box {
    @media screen and (max-width: $mob) {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: $mob) {
    width: 100%;
  }
  h4 {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
}

.feed_item {
  background-color: #fff;
  padding: 20px;
  min-height: 310px;
}

.feed_item_list {
  li {
    &+li {
      margin-top: 20px;
    }
    a {
      display: block;
      border: 1px solid #E1DED9;
      &:hover {
        background-color: #EEF0FF;
      }
      header {
        background-color: $indigo;
        height: 25px;
        display: flex;
        align-items: center;
        .figure {
          width: 70px;
          padding-left: 10px;
        }
        img {
          width: 100%;
        }
      }
      .article {
        padding: 10px 15px;
        h5 {
          font-size: 16px;
          line-height: 1.3;
          font-weight: 500;
          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          line-height: 1.5;
          font-weight: 400;
          min-height: 36px;
          margin-bottom: 15px;
        }
        .author {
          font-size: 12px;
          line-height: 1.3;
          color: $indigo;
          font-weight: 400;
        }
      }
    }
  }
}