@import "_var.scss";
.footer {
  background-color: #F4F4F4;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  max-width: $container;
  margin: 0 auto;
  padding: 54px 20px 80px 20px;
  box-sizing: border-box;
  @extend %clear;
  @media screen and (max-width: $pad) {
    display: block;
    padding: 54px 20px 30px 20px;
  }
  .item_list {
    width: 300px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $pad) {
      margin: 0px auto 50px auto;
    }
    @media screen and (max-width: $mob) {
      float: none;
      margin: 0px auto 40px auto;
    }
    @media screen and (max-width: 440px) {
      width: auto;
    }
    .item {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #232F88;
      transition: background-color .5s;
      position: relative;
      &:hover {
        background-color: $green;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .telegram {
      img {
        width: 28px;
      }
    }
    .github {
      img {
        width: 22px;
      }
    }
    .twitter {
      img {
        width: 25px;
      }
    }
    .fb {
      img {
        height: 27px;
      }
    }
    .medium {
      img {
        width: 23px;
      }
    }
    .reddit {
      img {
        width: 30px;
      }
    }
  }
}

.subscribe_box {
  width: 450px;
  @media screen and (max-width: $pad) {
    margin: 0px auto;
  }
  @media screen and (max-width: $mob) {
    width: 100%;
  }
  >p {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
    padding-left: 17px;
    text-align: left;
    @media screen and (max-width: $pad) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      padding-left: 0px;
    }
  }
}

#mc_embed_signup_scroll {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  input.email {
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #B8B8B8;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    padding-left: 32px;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: $pad) {
      width: 70%;
      font-size: 15px;
    }
  }
  .clearbox {
    display: block;
    float: left;
    @media screen and (max-width: $pad) {
      width: 30%;
    }
    >input {
      display: block;
      font-size: 16px;
      width: 150px;
      height: 60px;
      float: left;
      color: #fff;
      transition: color .5s;
      background: linear-gradient(204.32deg, $blue_l 0%, $blue_d 100%);
      border: 0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      &:hover {
        color: $green;
      }
      @media screen and (max-width: $pad) {
        width: 100%;
        font-size: 15px;
      }
    }
  }
  p {
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 44px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 56px;
    object-fit: contain;
    border-radius: 100px;
    background-color: #324c9a;
    font-family: Gotham;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 48px;
    @media screen and (max-width: $pad) {
      width: 34%;
      height: 36px;
    }
  }
}

.copyright {
  padding-top: 80px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  @media screen and (max-width: $pad) {
    text-align: center;
    padding-top: 70px;
  }
}