@import "_var.scss";

.menu_btn {
  display: none;
  position: fixed;
  top: 28px;
  right: 20px;
  z-index: 99;
  color: #fff;
  transition: right .5s;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
  }
  span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    margin: 3px 0;
  }
  @media screen and (max-width: $pad) {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: #2436B9;
  padding: 38px 0px;
  @media screen and (max-width: $pad) {
    position: relative;
    padding: 20px 0px;
  }
  .header_content {
    max-width: $container;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
    @extend %clear;
  }
  h1 {
    float: left;
    .logo {
      display: block;
      width: 300px;
      height: 38px;
      background: url('~images/logo/logo_w.png') top left no-repeat;
      background-size: 100% auto;
      @media screen and (max-width: $mob) {
        background-size: 80% auto;
      }
    }
  }
}

@media screen and (min-width: $pad) {
  .fixed {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: $pad) {
      position: relative;
      background-color: $green;
    }
    h1 {
      .logo {
        background: url("~images/logo/logo_b.png") top left no-repeat;
        background-size: 100% auto;
      }
    }
    .menu {
      li {
        a {
          color: rgba(0, 0, 0, 0.8);
          transition: color .5s;
          &:hover {
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}

nav {
  float: right;
  @media screen and (max-width: $pad) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $purple_d;
    z-index: 5;
    transition: right .5s;
  }
  .media_list {
    display: none;
    @media screen and (max-width: $pad) {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 40px;
    }
    li {
      width: 10%;
      &+li {
        margin-left: 10px;
      }
      a {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0px auto;
        img {
          height: 100%;
          margin: 0px auto;
        }
      }
    }
  }
}

.menu {
  li {
    display: inline-block;
    @media screen and (max-width: $pad) {
      display: block;
      width: 100%;
      height: 100%;
    }
    &+li {
      margin-left: 50px;
      @media screen and (max-width: $pad) {
        margin-left: 0px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 0.08px;
      line-height: 38px;
      color: rgba(256, 256, 256, 0.8);
      transition: color .5s;
      &:hover {
        color: rgba(256, 256, 256, 1);
      }
      @media screen and (max-width: $pad) {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 15px 0px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $pad) {
  .active {
    nav {
      right: 0;
      &:before {
        content: "";
        display: block;
        width: 200px;
        height: 26px;
        background: url("~images/logo/logo_w.png") left top no-repeat;
        background-size: 100% auto;
        margin: 24px 0 20px 20px;
      }
    }
    .menu_btn {
      right: 20px;
      &:before {
        transform: translateY(4px) rotate(45deg);
        background-color: #fff;
      }
      &:after {
        transform: translateY(-6px) rotate(-45deg);
        background-color: #fff;
      }
      span {
        background-color: transparent;
      }
    }
  }
}