@import "_var.scss";

.hero {
	background-color: #2436B9;
  position: relative;
  margin-top: 114px;
  padding: 60px 0px 200px 0px;
	box-sizing: border-box;
	/*
	@media screen and (max-width: $pad) {
		padding-top: 60px;
		margin-top: 0;
	}
	@media screen and (max-width: $mob) {
		padding-top: 20px;
	}
	*/
	.content {
		@extend %clear;
		max-width: $container;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
		position: relative;
	}
}

.hero_info {
	max-width: 546px;
	float: left;
	position: relative;
	margin-top: 20px;
	/*
	@media screen and (max-width: $pad) {
		max-width: 100%;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	*/
	h2 {
		font-size: 50px;
    line-height: 1.2;
		font-weight: 500;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: 20px;
		white-space: nowrap;
		/*
		@media screen and (max-width: $pad) {
			padding-bottom: 30px;
			font-size: 35px;
			line-height: 45px;
			white-space: normal;
		}
		*/
		span {
			display: block;
      font-size: 50px;
      font-weight: 500;
			line-height: 1.2;
			color: #fff;
			/*
			@media screen and (max-width: $pad) {
				font-size: 35px;
				line-height: 45px;
			}
			*/
		}
	}
	>p {
		font-size: 20px;
		line-height: 30px;
		color: #fff;
		margin-bottom: 35px;
		white-space: nowrap;
		/*
		@media screen and (max-width: $pad) {
			width: 80%;
			margin: 0 auto;
			font-size: 22px;
			line-height: 30px;
			white-space: normal;
		}
		*/
	}
}

.hero_img {
	position: absolute;
	top: -40px;
	right: 0px;
	// margin: 0 auto;
	/*
	@media screen and (max-width: 1180px) {
		width: 52vw;
	}
	@media screen and (max-width: $pad) {
		width: 100%;
		position: relative;
		top: auto;
		right: auto;
		padding-bottom: 46px;
	}
	*/
	img {
		width: 400px;
		transform: translate3d(0px, -10px, 0px);
		animation: run 4s infinite alternate;
		/*
		@media screen and (max-width: $pad) {
			width: 60%;
			margin: 0 auto;
		}
		*/
	}
}

@keyframes run {
  0% {
    transform: translate3d(0px, -10px, 0px);
	}
	50% {
		transform: translate3d(0px, 6px, 0px);
	}
}

.btn_list {
	display: flex;
	justify-content: space-between;
	width: 82%;
}

.telegram_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 60px;
  background-color: $green;
	border-radius: 30px;
	/*
  @media screen and (max-width: $pad) {
    margin: 0px auto;
	}
	*/
  &:hover {
    span {
      img {
        animation: fly 1s infinite alternate;
      }
    }
  }
  span {
    display: inline-block;
    padding-right: 15px;
    img {
      width: 27px;
      transform: translate3d(-5px, 0px, 0px);
    }
  }
  p {
		font-size: 18px;
		font-weight: 500;
    line-height: 60px;
    color: #141E6A;
  }
}

@keyframes fly {
  0% {
    transform: translate3d(-5px, 0px, 0px);
  }
  100% {
    transform: translate3d(6px, 0px, 0px);
  }
}

.play_video {
	display: block;
	width: 61px;
	height: 61px;
	img {
		width: 100%;
	}
}