@import "_var.scss";

.identity {
  padding: 40px 0px;
  background-color: #F7F6F4;
  .content {
		max-width: $container;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $pad) {
      flex-direction: column;
    }
  }
  .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $pad) {
      margin: 0px auto 40px auto;
    }
    @media screen and (max-width: $mob) {
      width: 100%;
    }
    h3 {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.3;
      color: $purple_d;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 40px;
    }
    .domain {
      width: 234px;
      height: 70px;
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      @media screen and (max-width: $pad) {
        margin-bottom: 0px;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, rgba(#F7F6F4, 0.6) 30%, rgba(12, 19, 70, 0.1) 70%);
        position: absolute;
        left: 70%;
        top: 0px;
        @media screen and (max-width: $pad) {
          display: none;
        }
      }
      span {
        display: block;
        width: 234px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        border-radius: 35px;
        background-color: $purple_d;
        position: relative;
        z-index: 2;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: $purple_d;
      width: 80%;
      text-align: center;
      order: 1;
      @media screen and (max-width: $pad) {
        width: 100%;
        order: 0;
        margin-bottom: 30px;
      }
    }
  }
  
  .right {
    width: 55%;
    position: relative;
    @media screen and (max-width: $mob) {
      width: 100%;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, rgba(#F7F6F4, 0.6) 10%, rgba(12, 19, 70, 0.1) 90%);
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translateX(-10%);
      @media screen and (max-width: $pad) {
        display: none;
      }
    }
    >ul {
      width: 400px;
      height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      background-color: #fff;
      position: relative;
      z-index: 2;
      padding-left: 150px;
      @media screen and (max-width: $mob) {
        width: 280px;
        height: 280px;
        margin: 0px auto;
        padding-left: 160px;
      }
    }
    .identity_item {
      display: flex;
      align-items: center;
      &+.identity_item {
        margin-top: 25px;
      }
      .figure {
        width: 87px;
        @media screen and (max-width: $mob) {
          width: 60px;
        }
        img {
          width: 100%;
        }
      }
      .section {
        padding-left: 15px;
      }
      h4 {
        font-size: 16px;
        font-weight: 500;
        color: #0C1346;
        margin-bottom: 15px;
      }
      p {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 400;
        color: #B6B6B6;
        @media screen and (max-width: $mob) {
          width: 40%;
          overflow : hidden;
          text-overflow : ellipsis;
          white-space : nowrap;
        }
      }
    }
  }
}