@import "_var.scss";
.service {
	background-color: $indigo;
	padding-bottom: 120px;
	margin-top: -1px;
	.section {
		max-width: $container;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
	}
	h3 {
		font-size: 25px;
		letter-spacing: 5px;
		text-align: center;
		color: $green;
		margin-bottom: 64px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $mob) {
			display: block;
		}
	}
	.item {
		width: 23.6%;
		text-align: center;
		@media screen and (max-width: $mob) {
			width: 70%;
			margin: 0 auto 50px auto;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
		h4 {
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			color: #fff;
			margin: 34px 0 22px 0;
		}
		img {
			width: 200px;
			margin: 0 auto;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			color: #fff;
		}
	}
}