$container: 960px;
$pad: 960px;
$mob: 720px;
$smob: 340px;
$blue_d: #0027EC;
$blue_l: rgb(107, 173, 226);
$indigo: #3442b0;
// $green: #00D5BF;
/*product*/
$green_text: #23D6A3;
$gray_text: #616161;

%clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
/*新版landing page東西加在以下好整理*/
$green: #15DACB;
$text: #141E6A;