$container: 1100px;
$pad: 980px;
$mob: 720px;
$smob: 340px;
$blue_d: #0027EC;
$blue_l: #0084F2;
$indigo: #3442b0;
$green: #00D5BF;
/*product*/
$green_text: #23D6A3;
$gray_text: #616161;

%clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}