@import "_var.scss";
.what {
    width: 100%;
    background-color: #232f88;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 94px 0;
    @media screen and (max-width: $mob) {
        padding: 78px 0;
    }
    .section {
        max-width: $container;
        margin: 0px auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    h3 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: 5px;
        color: $green;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        color: #FFF;
        width: 65%;
        margin: 0 auto 39px auto;
        @media screen and (max-width: $mob) {
            width: 100%;
            margin: 0 auto 30px auto;
        }
    }
    .play {
        width: 108px;
        height: 107px;
        background-image: url('~images/index/play_btn.png');
        transition: background-image .5s;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
            background-image: url('~images/index/play_btn_hover.png');
        }
    }
    iframe {
        width: 640px;
        height: 360px;
        @media screen and (max-width: $mob) {
            width: 300px;
            height: auto;
        }
    }
}