@import "_reset.scss";
@import "_var.scss";
$green: #00A89D;

// $article-h3: #00000;
$article-h4: #3c3c3c;
$article-text: #616161;
$mob: 720px;

$article-width: 700px;
$a_h3: rgba(0,0,0,.84);

figure {
  margin: 0px;
}

.article {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  box-sizing: border-box;
}

/* 主章節 */
.article_top {
  margin-bottom: 40px;
  h3 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin: 0px auto 50px auto;
    @media screen and (max-width: $pad) {
      max-width: 700px;
      font-size: 30px;
      margin: 0px auto 30px auto;
    }
  }
  .figure {
    margin: 0px auto 40px auto;
    img {
      width: 100%;
    }
  }
  p {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 21px;
    line-height: 1.5;
    color: $article-text;
    &+p {
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      font-size: 21px;
      line-height: 1.5;
      color: $article-text;
      text-decoration: underline;
    }
  }
}

/* 章節 */
.article_section {
  max-width: 960px;
  width: 100%;
  margin: 0px auto 50px auto;
  .figure {
    margin: 0px auto 40px auto;
    img {
      width: 100%;
    }
  }
  h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    color: $article-h4;
    margin-bottom: 10px;
    @media screen and (max-width: $mob) {
      font-size: 24px;
    }
  }
  p {
    font-size: 21px;
    line-height: 1.5;
    color: $article-text;
    margin-bottom: 30px;
  }
  a {
    display: inline-block;
    text-decoration: underline;
    font-size: 21px;
    line-height: 1.5;
    color: $article-text;
  }
}

.blockquote {
  border-left: solid 3px $article-text;
  padding-left: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  >p {
    font-size: 21px;
    line-height: 1.5;
    color: $article-text;
    text-align: left;
    font-style: italic;
    margin: 0px;
  }
}

.article_ul {
  h5 {
    font-size: 21px;
    line-height: 1.5;
    color: $article-h4;
    margin-bottom: 15px;
  }
  .figure {
    margin: 0px auto 40px auto;
    img {
      width: 100%;
    }
  }
  p {
    font-size: 21px;
    line-height: 1.5;
    color: $article-text;
  }
  ul {
    list-style-type: inherit;
    margin-left: 20px;
    &.num {
      list-style-type: decimal;
    }
    li {
      strong {
        font-size: 21px;
        line-height: 1.5;
        color: $article-text;
      }
    }
  }
}

strong.big_text {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  color: #3c3c3c;
}

strong.mid_text {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  color: #3c3c3c;
}

.mg_b10 {
  margin-bottom: 10px !important;
}

.mg_b30 {
  margin-bottom: 30px !important;
}

.mg_t20 {
  margin-top: 20px !important;
}

.img_full {
  img {
    width: 100%;
  }
}

.img_xl_full {
  @media screen and (max-width: $pad) {
    img {
      width: 100%;
    }
  }
}

/* 包在figure裡面的字 */
.figure_text {
  font-size: 16px;
  line-height: 1.2;
  color: $article-text;
  text-align: center;
  margin-top: 15px;
}

/* 文章裡面的a連結 */
.text_link {
  display: inline-block;
  text-decoration: underline;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  color: $article-text;
}

.text_star {
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.5;
  color: #07847A;
}

.article_title {
  h3 {
    font-size: 42px;
    line-height: 1.5;
    color: $a_h3;
    font-weight: 600;
    text-align: center;
    margin: 0px auto 40px auto;
  }
  .figure {
    margin-bottom: 40px;
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: $article-text;
    word-break: break-word;
  }
}

.article_content {
  max-width: $article-width;
  margin: 0 auto 40px auto;
  width: 100%;
  h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
    color: $article-text;
    margin-bottom: 10px;
  }
  .figure {
    margin-bottom: 35px;
  }
  p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: $article-text;
    word-break: break-word;
    margin-bottom: 30px;
    strong {
      .text_link {
        font-weight: 700;
      }
    }
  }
}

.article_blockquote {
  border-left: solid 3px $article-text;
  padding-left: 20px;
  margin-left: -35px;
  @media screen and (max-width: $pad) {
    margin-left: 0px;
  }
  p {
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    color: $article-text;
    word-break: break-word;
    margin-bottom: 30px;
  }
}

.article_box {
  header {
    font-size: 21px;
    color: $article-text;
    font-weight: 600;
    line-height: 1.5;
  }
  .figure {
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: $article-text;
    word-break: break-word;
    margin-bottom: 30px;
  }
}

.text_center {
  text-align: center !important;
}