$container: 960px;
$pad: 940px;
$mob: 720px;
$smob: 340px;
$blue_d1: #141E6A;
$blue_d2: #0C1346;
$blue: #231ABE;
$green: #19f4e4;
$gray: #979797;
$red: #F06158;
$cyan_blue: #2F88C8;

%clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}