@import "_reset.scss";
@import "./blog/_var.scss";
@import "./blog/_article.scss";

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
input,
label,
button,
div,
span {
	font-family: 'Avenir', 'Nunito Sans', sans-serif, 'Arial', 'Microsoft JhengHei';
	font-size: 14px;
	line-height: 1;
	color: #000;
}

img {
  display: block;
}

figure {
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  * {
    padding: 0px;
    margin: 0px;
  }
}

.logo {
  display: block;
  float: left;
  width: 300px;
  @media screen and (max-width: $pad) {
    float: none;
  }
  @media screen and (max-width: $mob) {
    width: 200px;
  }
  a {
    display: block;
    img {
      width: 100%;
    }
  }
}

nav {
  @extend %clear;
  @media screen and (max-width: $pad) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $green;
    z-index: 5;
    transition: right .5s;
  }
}

.menu_btn {
  display: none;
  position: absolute;
  top: 51px;
  right: 20px;
  z-index: 99;
  color: #fff;
  transition: right .5s;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
  }
  span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    margin: 3px 0;
  }
  @media screen and (max-width: $pad) {
    display: block;
  }
}

.menu {
  float: right;
  @extend %clear;
  @media screen and (max-width: $pad) {
    float: none;
    margin-top: 66px;
  }
  li {
    display: inline-block;
    @media screen and (max-width: $pad) {
      display: block;
      width: 100%;
      height: 100%;
    }
    &+li {
      margin-left: 50px;
      @media screen and (max-width: $pad) {
        margin-left: 0px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 0.08px;
      line-height: 38px;
      color: rgba(256, 256, 256, 0.6);
      transition: color .5s;
      &:hover {
        color: rgba(256, 256, 256, 1);
      }
      @media screen and (max-width: $pad) {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 30px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $pad) {
  .active {
    nav {
      right: 0;
      &:before {
        content: "";
        display: block;
        width: 200px;
        height: 26px;
        background: url("~images/logo/logo_w.png") left top no-repeat;
        background-size: 100% auto;
        margin: 44px 0 0 20px;
      }
    }
    .menu_btn {
      right: 20px;
      &:before {
        transform: translateY(4px) rotate(45deg);
        background-color: #fff;
      }
      &:after {
        transform: translateY(-6px) rotate(-45deg);
        background-color: #fff;
      }
      span {
        background-color: transparent;
      }
    }
  }
}

.header {
  width: 100%;
  background-color: $green;
  padding: 38px 0px 10px 0px;
  position: relative;
  @media screen and (max-width: $pad) {
    position: relative;
  }
  .header_content {
    @extend %clear;
    max-width: $container;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.bar {
  margin-top: 60px;
  @media screen and (max-width: $pad) {
    width: 100%;
  }
  ul {
    margin-left: -15px;
    @media screen and (max-width: $mob) {
      overflow-x: scroll;
      width: 100%;
      white-space: nowrap;
    }
    li {
      display: inline-block;
      a {
        display: block;
        font-size: 16px;
        color: rgba(256,256,256,0.6);
        transition: color .5s;
        text-transform: uppercase;
        padding: 10px 15px;
        &:hover {
          color: rgba(256,256,256,1);
        }
        &.active {
          color: rgba(256,256,256,1);
        }
      }
    }
  }
}

.main {
  max-width: $container;
  margin: 0px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog_list {
  margin: 40px 0px 60px 0px;
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: $mob) {
      display: block;
      width: 95%;
      margin: 0 auto;
    }
    li {
      width: 31%;
      height: auto;
      overflow: hidden;
      @media screen and (max-width: $pad) {
        width: 50%;
      }
      @media screen and (max-width: $mob) {
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
}

.blog_box {
  display: block;
  width: 300px;
  margin: 0 auto;
  @media screen and (max-width: $pad) {
    width: 330px;
  }
  @media screen and (max-width: $mob) {
    width: 100%;
  }
  >.figure {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
    border: solid 1px #bebebe;
    @media screen and (max-width: $pad) {
      height: 220px;
    }
  }
  .info {
    h4 {
      font-size: 26px;
      color: #000000;
      line-height: 1.2;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      color: #7b7b7b;
      line-height: 1.5;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
    }
  }
}

.author {
  margin: 0px auto 40px auto;
  max-width: 800px;
  width: 100%;
  @extend %clear;
  .figure {
    width: 50px;
    float: left;
    img {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  .author_content {
    float: left;
    padding-left: 10px;
    margin-top: 15px;
    .title {
      overflow : hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
      color: $green;
      margin-bottom: 10px;
    }
    p {
      color: $article-text;
    }
  }
}

.footer {
  max-width: $container;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  ul {
      margin-bottom: 20px;
    li {
      display: inline-block;
      margin: 0px 10px;
      a {
        display: block;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #222;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copyRight {
    font-size: 12px;
    font-weight: 400;
    color: #222;
  }
}
