@import "_reset.scss";
@import "./index/_var.scss";
@import "./index/_header.scss";
@import "./index/_hero.scss";
@import "./index/_chain.scss";
@import "./index/_summary.scss";
@import "./index/_solution.scss";
@import "./index/_roadmap.scss";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
input,
label,
button,
div,
span {
  font-family: 'Avenir', 'Nunito Sans', sans-serif, 'Arial', 'Microsoft JhengHei';
  font-size: 14px;
  line-height: 1;
  color: #000;
}
img {
  display: block;
}
html, body {
  width: 100%; height: 100%;
}
a{
  cursor: pointer;
}
#app {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.partner_title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 7px;
  text-align: center;
  color: #000;
  margin-bottom: 38px;
}

.partner_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  @media screen and (max-width: $pad) {
    flex-wrap: wrap;
    width: 80%;
  }
  a {
    @media screen and (max-width: $pad) {
      margin-bottom: 50px;
    }
    img {
      width: 100%;
    }
  }
}

.ecosystem {
  position: relative;
  &:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 470px 100vw 0 0;
    border-color: $green transparent transparent transparent;
    @media screen and (max-width: $pad) {
      border-width: 156px 100vw 0 0;
    }
  }
  &:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 100vw 470px 0;
    border-color: transparent $indigo transparent transparent;
    position: absolute;
    top: 0;
    @media screen and (max-width: $pad) {
      border-width: 0 100vw 156px 0;
    }
  }
  .content {
    max-width: $container;
    margin: 0px auto 100px auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $pad) {
      margin: 22px auto 0 auto;
    }
  }
  .partner_area {
    @media screen and (max-width: 560px) {
      margin-bottom: 20px;
      justify-content: center;
    }
    a {
      display: block;
      max-width: 200px;
      @media screen and (max-width: $pad) {
        max-width: 150px;
      }
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 0.8px;
        text-align: center;
        color: $indigo;
        white-space: nowrap;
      }
      img {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.partnership {
  max-width: $container;
  margin: 0 auto 165px auto;
  padding: 0 20px;
  box-sizing: border-box;
  @media screen and (max-width: $pad) {
    margin: 0 auto 50px auto;
  }
  .partner_title {
    margin-bottom: 54px;
    @media screen and (max-width: $pad) {
      margin-bottom: 38px;
    }
  }
  .partner_area {
    justify-content: center;
    @media screen and (max-width: 360px) {
      display: block;
    }
    a {
      display: block;
      @media screen and (max-width: 360px) {
        margin: 0px auto 30px auto;
      }
      &+a {
        margin-left: 58px;
        @media screen and (max-width: $pad) {
          margin-left: 30px;
        }
        @media screen and (max-width: 360px) {
          margin: 0px auto 30px auto;
        }
      }
    }
    .bluzelle {
      @media screen and (max-width: $pad) {
        max-width: 136px;
      }
    }
    .wan {
      @media screen and (max-width: $pad) {
        max-width: 84px;
      }
    }
  }
}

.mediapartner {
  max-width: $container;
  margin: 0 auto 165px auto;
  padding: 0 20px;
  box-sizing: border-box;
  @media screen and (max-width: $pad) {
    margin: 0 auto 50px auto;
  }
  .partner_title {
    margin-bottom: 94px;
    @media screen and (max-width: $pad) {
      margin-bottom: 60px;
    }
  }
  .partner_area {
    justify-content: center;
    a {
      @media screen and (max-width: $pad) {
        max-width: 138px;
      }
    }
  }
}