@import "_reset.scss";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span {
  font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

img {
	display: block;
}

a {
  cursor: pointer;
}

$green: #15DACB;
$blue_d: #0C1346;
$blue_l: #2436B9;

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $blue_d;
}

$MOB_MOVE_INSIDE_DISTANCE_IN_CHAPTER: 13px;
$MOB_BANNER_HEIGHT: 110px;
$MAIN_WIDTH: 1051px;

.header {
  position: fixed;
  z-index: 1490;
  width: 100%;
  background-color: $green;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $MAIN_WIDTH;
  height: 100px;

  img {
    max-width: 166px;
  }

  @media screen and (max-width: 1000px) {
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
  }
}

.outline {
  @media screen and (max-width: 720px) {
    padding-left: 20px;
    box-sizing: border-box;
  }
  li {
    display: inline-block;
    margin-right: 23px;
    font-size: 16px;
    font-family: Gotham;
    letter-spacing: 0.1px;
    cursor: pointer;
    >a{
      color: rgba($blue_d,0.7);
      transition: color .2s;
      &:hover{
        color: rgba($blue_d,1);
      }
    }
  }
}

.time-location {
  margin-top: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}

#roadmap {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  width: $MAIN_WIDTH;

  @media screen and (max-width: 1000px) {
    padding-left: 0;
    width: 100%;
    flex-direction: column;
  }
}

.telegramBtn {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 21px;
  z-index: 6;
  img {
      width: 60px;
  }
}

.nav {
  position: fixed;
  width: 203px;

  @media screen and (max-width: 1000px) {
    z-index: 1490;
    top: 100px;
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    height: initial;
    border-bottom: 1px solid #939393;
    background-color: white;
  }
  @media screen and (max-width: 374px) {
    overflow-x: scroll;
  }
}

.nav-item {
  padding: 24px 12px;
  border-bottom: solid 1px rgba(147, 147, 147, 0.4);
  cursor: pointer;
  @media screen and (max-width: 720px) {
      width: 28%;
      border-right: solid 1px rgba(147, 147, 147, 0.4);
      border-bottom: none;
  }

  &:last-child {
    border-bottom: 0;
  }

  & .title {
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: $green;
  }

  & .chapter-name {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    @media screen and (max-width: 960px) {
      color: #000;
    }
    @media screen and (max-width: 720px) {
        font-size: 12px;
        text-align: center;
    }
  }
}

.main {
  margin-bottom: 140px;
  margin-left: 247px;
  padding-bottom: 100px;
  width: 893px;
  border-left: solid 1px rgba(#fff,0.3);

  @media screen and (max-width: 960px) {
    width: 100%;
    margin: 0px;
    padding: 108px 20px 0px 20px;
  }
  @media screen and (max-width: 720px) {
    padding: 148px 20px 0px 20px;
  }
  @media screen and (max-width: 374px) {
    padding: 168px 20px 0px 20px;
  }
}

.chapter {
  padding-bottom: 60px;

  @media screen and (max-width: 1000px) {
    position: relative;
    padding-bottom: 60px;
  }  
}

.banner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  height: 218px;
  @media screen and (max-width: 720px) {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background-color: $blue_l;
    margin-right: 46px;
    margin-left: 92px;
    @media screen and (max-width: 960px) {
      margin-left: 0px;
    }
    @media screen and (max-width: 720px) {
      width:50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      margin-right: 20px;
    }
    img {
      width: 50px;
      @media screen and (max-width: 720px) {
          width: 50%;
      }
    }
  }

  .title {
    font-size: 36px;
    color: #fff;
    @media screen and (max-width: 720px) {
        font-size: 20px;
    }
  }

}

.flag {
  position: relative;
  margin-bottom: 45px;
  padding-left: 42px;

  &:last-child {
    margin-bottom: 0;
  }

  & .headline-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media screen and (max-width: 720px) {
        display: block;
    }
  }

  & .headline {
    display: inline-block;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    @media screen and (max-width: 720px) {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  & .icons-container {
    display: inline-flex;
    align-items: center;
    @media screen and (max-width: 720px) {
        flex-wrap: wrap;
    }
    >a {
      @media screen and (max-width: 720px) {
        margin-bottom: 10px;
    }
  }

    & .icon {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      width: 34px;
      height: 34px;
      border-radius: 25px;
      border: 1px solid #979797;
      background-color: white;
      font-size: 12px;
      font-weight: 400;
      color: #000;

      &.expand {
        width: auto;
        padding-right: 25px;
        padding-left: 35px;
      }

      &.link {
        background-image: url('~images/roadmap/link.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 50% auto;
      }

      &.video {
        background-image: url('~images/roadmap/video.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 50% auto;
        &.expand {
          width: auto;
          padding: 0px 15px 0px 35px;
          background-position-x: 14px;
          background-size: auto 20px;
        }
      }

      &.file {
        background-image: url('~images/roadmap/paperfile.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 50% auto;
      }

      &.github {
        background-image: url('~images/roadmap/github.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 50% auto;
      }
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
  }

  & .description {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 1.88;
    color: #fff;

    .link_text {
      color: $green;
    }
    
    &.has-photos {
      margin-right: 39px;
      max-width: 381px;
    }
  }

  & .photos {
    display: inline-flex;
    align-items: center;
    >div {
      @media screen and (max-width: 960px) {
        margin-bottom: 20px;
      }
    }

    img {
      display: inline-block;
      max-width: 156px;
      cursor: pointer;

      &:first-child {
        margin-right: 15px;
      }
    }

    & .number{
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.8);
      top: 0;
      left: 0;
      color: #fff;
      cursor: pointer;
    }

    & .cover {
      position: relative;

      & .number{
        display: flex;
      }
    }
  }

  &:before {
    position: absolute;
    top: 6px;
    left: -7px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #d8d8d8;
    content: '';
  }

  @media screen and (max-width: 1000px) {
    padding-right: 25px;

    & .content {
      flex-direction: column;
    }
    
    &:before {
      left: 11px;
    }

    & .photos {
      flex-direction: column;
      max-width: calc(100vw - 80px);

      img {
        max-width: 100%;
      }
    }
  }
}

.progress-bar {
  display: inline-block;
  width: 164px;
  height: 9px;
  background-color: rgba(#f5f5f5,0.2);

  & .progress {
    height: inherit;
    background-color: $green;
  }
}

.progress-container {

  & .number {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $green;
  }
}

.photoPop {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000,0.8);

  a.closeBtn {
    position: absolute;
    z-index: 1510;
    right: 17px;
    top: 17px;
    color: #fff;


    @media screen and (max-width: 1000px) {
      right: 30px;
      top: 30px;
    }
  }

  img {
    max-height:85%;

    @media screen and (max-width: 1000px) {
      max-width: 85%;
      max-height: none;
    }
  }
}

.swiper-container {
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev {
  left: 100px !important;

  @media screen and (max-width: 1000px) {
    left: 10px !important;
  }
}

.swiper-button-next {
  right: 100px !important;

  @media screen and (max-width: 1000px) {
    right: 10px !important;
  }
}
