@import "_reset.scss";
$container: 960px;
$pad: 980px;
$mob: 720px;
$smob: 340px;
$blue: #00D5BF;
$input_width: 450px;
$border: #d6d6d6;

%clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
input,
label,
button,
div,
span {
	font-family: 'Avenir', 'Nunito Sans', sans-serif, 'Arial', 'Microsoft JhengHei';
	font-size: 14px;
	line-height: 1;
	color: #000;
}

img {
  display: block;
}

figure {
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  * {
    padding: 0px;
    margin: 0px;
  }
}

#submitdweb {
  position: relative;
}

.menu_btn {
  display: none;
  position: absolute;
  top: 64px;
  right: 20px;
  z-index: 99;
  color: #fff;
  transition: right .5s;
  cursor: pointer;
  @media screen and (max-width: $mob) {
    top: 42px;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333333;
    transition: all .5s;
  }
  span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    margin: 3px 0;
  }
  @media screen and (max-width: $pad) {
    display: inline-block;
  }
}

.header {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 38px 20px 0px 20px;
  @extend %clear;
  @media screen and (max-width: $smob) {
    padding: 38px 0px 0px 10px;
  }
}

.logo {
  float: left;
  a {
    display: block;
    text-decoration: none;
    width: 300px;
    height: 38px;
    @media screen and (max-width: $mob) {
      width: 70%;
    }
    img {
      width: 100%;
    }
  }
}

nav {
  float: right;
  @extend %clear;
  @media screen and (max-width: $pad) {
    float: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $blue;
    z-index: 5;
    transition: right .5s;
  }
}

.menu {
  @media screen and (max-width: $pad) {
    margin-top: 66px;
  }
  li {
    display: inline-block;
    @media screen and (max-width: $pad) {
      display: block;
      width: 100%;
      height: 100%;
    }
    &+li {
      margin-left: 50px;
      @media screen and (max-width: $pad) {
        margin-left: 0px;
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      line-height: 38px;
      color: #333333;
      transition: color .5s;
      &:hover {
        color: $blue;
      }
      @media screen and (max-width: $pad) {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 30px;
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: $pad) {
  .active {
    nav {
      right: 0;
      &:before {
        content: "";
        display: block;
        width: 200px;
        height: 26px;
        background: url('~images/logo/logo_w.png') left top no-repeat;
        background-size: 100% auto;
        margin: 44px 0 0 20px;
      }
    }
    .menu_btn {
      position: fixed;
      right: 20px;
      &:before {
        transform: translateY(4px) rotate(45deg);
        background-color: #fff;
      }
      &:after {
        transform: translateY(-6px) rotate(-45deg);
        background-color: #fff;
      }
      span {
        background-color: transparent;
      }
    }
    .menu {
      li {
        a {
          color: #fff;
        }
      }
    }
  }
}

.main {
  max-width: $container;
  margin: 60px auto;
  padding: 0 20px;
  box-sizing: border-box;
  @media screen and (max-width: $smob) {
    padding: 0px;
  }
}

.form_box {
  width: $input_width;
  margin: 0 auto;
  @media screen and (max-width: $mob) {
    width: 300px;
  }
  .content {
    margin-bottom: 40px;
    h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    p {
      color: #333333;
      line-height: 1.5;
    }
  }
  .row {
    &+.row {
      margin-top: 30px;
    }
  }
  .label {
    display: block;
    font-weight: 600;
    color: #333333;
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
  }
  .input {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 0px 10px;
    box-sizing: border-box;
    &:focus {
      border: 1px solid $blue;
      outline: none;
    }
    &:disabled {
      color: #bebebe;
      background-color: #f0f0f0;
    }
  }
  .textarea {
    width: 100%;
    height: 280px;
    padding: 10px;
    resize: none;
    border: solid 1px $border;
    &:focus {
      border: 1px solid $blue;
      outline: none;
    }
  }
  .tag_box {
    .label {
      margin-bottom: 10px;
    }
    .md_tag {
      margin-bottom: 10px;
      &+.md_tag {
        margin-top: 20px;
      }
    }
  }
  .custom_radio {
		display: none;
		&+label {
			display: inline-block;
			cursor: pointer;
			span {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				width: 16px;
				height: 16px;
				border: 1px solid #C6CCCC;
				border-radius: 50%;
				box-sizing: border-box;
				position: relative;
				&:before {
					content: "";
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: transparent;
					position: absolute;
					left: 50%;
					top: 50%;
					bottom: auto;
					right: auto;
					transform: translate(-50%, -50%);
					opacity: 0;
					transition: opacity 0.2s;
				}
			}
		}
		&:checked+label span {
			border-color: $blue;
			&:before {
				background-color: $blue;
				opacity: 1;
			}
		}
		&:disabled+label {
			opacity: 0.5;
			&,span {
				cursor: default;
			}
		}
  }
  .warning {
    color: #FF2525;
    margin-top: 8px;
  }
  .submit {
    width: 200px;
    height: 38px;
    line-height: 38px;
    border-radius: 19px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border: solid 1px $blue;
    background-color: $blue;
    outline: none;
    margin-top: 40px;
    @media screen and (max-width: $mob) {
      width: 100%;
    }
  }
}

.footer {
  padding: 50px 0px 30px 0px;
  box-sizing: border-box;
  .copyRight {
    text-align: center;
  }
}