@import "_var.scss";
.c_bell {
  width: 45px;
  height: 45px;
  border: 0px;
  background-color: #36385f;
  outline: none;
  svg {
    color: $blue;
  }
}

.filter {
  padding-bottom: 80px;
  .content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $pad) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: $mob) {
      display: block;
    }
  }
}

.filter_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.c_sl {
  width: 83px;
  img {
    width: 100%;
    margin: 0px auto;
  }
}

.selected_bar {
  display: flex;
  justify-content: space-between;
  width: 435px;
}

.remind {
  display: inline-block;
}

.select_menu {
  height: 30px;
  background: url('/images/newroadmap/triangle-down.svg') 95% 50% no-repeat;
  outline: none;
  font-size: 15px;
  color: $b_t;
  letter-spacing: 1px;
  appearance: none;
  border: $b_t 1px solid;
  padding: 0px 50px 0px 25px;
  border-radius: 0px;
  margin-right: 30px;
  box-sizing: border-box;
}

.switcher_phase {
  width: 435px;
  text-align: center;
  ul {
    font-size: 0;
    li {
      display: inline-block;
      padding: 0px 10px;
      a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: $b_t;
        letter-spacing: 1px;
      }
    }
  }
  .icon {
    width: 45px;
    margin-bottom: 5px;
    img {
      width: 100%;
      margin: 0px auto;
    }
  }
}

%h3 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $b_t;
  font-weight: 400;
  margin-bottom: 10px;
}

.c_arrow2 {
  margin-left: 5px;
  svg {
    color: $blue;
  }
}

.c_github {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px #979797;
  border-radius: 50%;
  background: url('/images/newroadmap/github.svg') center center no-repeat;
  background-size: 60% auto;
}

.c_link {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px #979797;
  border-radius: 50%;
  background: url('/images/newroadmap/share.svg') center center no-repeat;
  background-size: 60% auto;
}

.c_file {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px #979797;
  border-radius: 50%;
  background: url('/images/newroadmap/paperfile.svg') center center no-repeat;
  background-size: 60% auto;
}

.c_youtube {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px #979797;
  border-radius: 50%;
  background: url('/images/newroadmap/video.svg') center center no-repeat;
  background-size: 40% auto;
}

.c_tack {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -27px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  box-sizing: border-box;
}

.progress_box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .progress_bar {
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: #f5f5f5;
    .progress {
      height: inherit;
      background-color: $blue;
    }
  }
  .progress_number {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: $blue;
  }
}

.links {
  margin-bottom: 15px;
  a {
    &+a {
      margin-left: 10px;
    }
  }
}

.article {
  time {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: $b_t;
    margin-bottom: 15px;
  }
  .site {
    font-size: 14px;
    font-weight: 400;
    color: $b_t;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $b_t;
    margin-bottom: 10px;
    a {
      display: inline-block;
      text-decoration: none;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

%h4 {
  font-size: 16px;
  color: $b_t;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 20px;
}

.filter_title {
  height: 20px;
  margin-bottom: 30px;
  background: url('/images/newroadmap/line.png') top left repeat-x;
  @extend %clear;
  p {
    width: 50%;
    float: left;
    position: relative;
    &:after {
      content: "";
      display: block;
      background: url(/images/newroadmap/line2.png) repeat-x center center;
      width: 60px;
      height: 20px;
      position: absolute;
      right: -30px;
      top: -7px;
    }
    &.pos_left {
      text-align: left;
      float: left;
      span {
        padding: 0px 10px 0px 0px;
      }
    }
    &.pos_right {
      text-align: right;
      float: right;
      span {
        padding: 0px 0px 0px 10px;
      }
      &:after {
        display: none;
      }
    }
    span {
      line-height: 20px;
      letter-spacing: 1px;
      height: 20px;
      background-color: #fff;
    }
  }
}

.completed {
  width: 50%;
  @media screen and (max-width: $mob) {
    width: 100%;
  }
  h4 {
    @extend %h4;
  }
}

.update {
  width: 50%;
  @media screen and (max-width: $mob) {
    width: 100%;
  }
  h4 {
    @extend %h4;
  }
}

%list {
  border-left: 1px solid $b_t;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
}

.completed_list {
  @extend %list;
}

.completed_item {
  padding: 20px 0px;
  box-sizing: border-box;
  &:first-child {
    padding-top: 0px;
  }
  &+.completed_item {
    border-top: 2px dotted $b_t;
  }
  h3 {
    @extend %h3;
    position: relative;
  }
}

.update_list {
  @extend %list;
}

.update_item {
  padding: 20px 0px;
  box-sizing: border-box;
  &:first-child {
    padding-top: 0px;
  }
  &+.update_item {
    border-top: 2px dotted $b_t;
  }
  h3 {
    @extend %h3;
  }
}