@import "_var.scss";

.header {
  h1 {
    margin: 40px 0px 60px 0px;
    text-align: center;
    a {
      display: inline-block;
      img {
        width: 100%;
      }
    };
  }
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $b_t;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
  }
}