@import "_var.scss";
.introduction {
  .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    @media screen and (max-width: $pad) {
      display: block;
      border-left: dotted 3px $b_t;
    }
  }
}

.introduction_header {
  height: 20px;
  margin-bottom: 30px;
  background: url('/images/newroadmap/line.png') top left repeat-x;
  @extend %clear;
  h3 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $b_t;
    background-color: #fff;
    float: left;
    padding-right: 10px;
  }
  .timestamp {
    float: right;
    background-color: #fff;
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1px;
      color: $blue;
      padding: 0px 5px 0px 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      color: $b_t;
    }
  }
}

.summary {
  width: 50%;
  padding: 0px 50px 0px 0px;
  @media screen and (max-width: $pad) {
    width: 100%;
    padding: 0px 0px 0px 20px;
    margin-bottom: 40px;
  }
  h4 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: $b_t;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: $b_t;
    margin-bottom: 10px;
  }
  section {
    margin-top: 20px;
  }
  .show_btn {
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.event {
  width: 50%;
  padding: 0px 0px 0px 50px;
  border-left: dotted 3px $b_t;
  @media screen and (max-width: $pad) {
    width: 100%;
    border-left: 0px;
  }
}

.event_box {
  margin-bottom: 40px;
  h4 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $b_t;
    margin-bottom: 15px;
    .c_dot {
      display: inline-block;
      width: 40px;
      border-top: 1px solid $b_t;
      position: absolute;
      margin: 8px 0 0 -50px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 3;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: $b_t;
        border-radius: 50%;
      }
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
  >ul {
    >li {
      &+li {
        margin-top: 10px;
      }
    }
  }
  .c_arrow {
    display: inline-block;
    width: 15px;
    height: 11px;
    background: url('/images/newroadmap/link-arrow.svg') top left no-repeat;
    margin-left: 5px;
  }
}

.time_table {
  display: flex;
  align-items: flex-start;
}

.separator {
  width: calc(20% / 3);
  text-align: center;
  font-size: 28px;
  float: left;
  color: $blue;
  font-weight: 200;
  margin-top: 5px;
}

.time_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  .time_text {
    font-size: 28px;
    text-align: center;
    margin-top: 7px;
    color: $blue;
    font-weight: 200;
  }
  .time_unit {
    color: $b_t;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
  }
}