a.gotoTopbtn{
    position: fixed;
    right: 17px;
    bottom: 90px;
    display: block;
    width: 68px;
    height: 68px;
    background-image: url("../../images/Showcase/arrow_top@1x.svg");
    background-size: 100% 100%;
    z-index: 2;
}
.share_box{
    position: fixed;
    right: 17px;
    bottom: 170px;
    width: 68px;
    height: 68px;
    z-index: 98;
    @include media-740(){
        display: none;
    }
    a.share_btn{
        display: block;
        width: 68px;
        height: 68px;
        background-image: url("../../images/Showcase/menu_btn@2x.svg");
        background-size: 100% 100%;
        border-radius: 50%;
        &.open{
            background-image: url("../../images/Showcase/menu_btn_x@1x.svg");
        }
    }
    .share_bg{
        position: absolute;
        width: 380px;
        height: 159px;
        background-image: url("../../images/Showcase/menu_bar@1x.svg");
        background-size: 100% 100%;
        right: 75px;
        bottom: 0px;
        display: block;
        transition: transform .3s;
        transform: scale(0);
        transform-origin: 100% 80%;
        &.open{
            transform: scale(1);
        }
        .content{
            width: 360px;
            height: 149px;
            margin: 5px;
            >nav{
                width: 100%;
                height: 93px;
                border-bottom: solid 1px #e6e6e6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                >a{
                    color: #000;
                    >img{
                        margin: 0 auto;
                        width: 27px;
                        height: auto;
                    }
                    >p{
                        font-size: 12px;
                        font-family: Avenir;
                        padding-top: 5px;
                        color: #000;
                    }
                }
            }
            .share_item{
                width: 100%;
                height: 54px;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                >a{
                    color: #000;
                    >img{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}