article.banner{
    position: relative;
    width: 100%;
    height: 768px;
    background-color: #A9FBF2;
    >.b_img{
        position: absolute;
        top: 167px;
        width: 704px;
        height: 528.2px;
        background-image: url("../images/Showcase/Hero_img@2x.png");
        background-size: 125% auto;
        background-repeat: no-repeat;
        background-position: 100% 0;
    }
    >.b_content{
        position: absolute;
        top: 310px;
        right: 123px;
        width: 594px;
        height: auto;
        overflow: hidden;
        >h2{
            display: block;
            width: 100%;
            height: 80px;
            font-family: PingFangTC;
            font-size: 50px;
            font-weight: 500;
            text-align: center;
            color: #524040;
            border-bottom: solid 3px #979797;
        }
        >p{
            font-family: Avenir;
            font-size: 30px;
            font-weight: 500;
            color: #524040;
            text-align: center;
            padding-top: 52px;
        }
        >a{
            display: block;
            width: 260px;
            height: auto;
            overflow: hidden;
            line-height: 60px;
            border-radius: 30px;
            background-image: linear-gradient(55deg, #ff4a4a, #f76b1c);
            font-family: Avenir;
            font-size: 17px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
            margin: 48px auto 0 auto;
        }
    }
}