.menu_bar{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 98;
    @include media-740(){
        height: 83px;
    }
    .mid{
        width: 90%;
        height: 100%;
        max-width: 1355px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.logo{
            display: block;
            width: 300px;
            height: 40px;
            background-image: url("../../images/Showcase/logo@3x.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            @include media-740(){
                width: 50%;
                height: 40px;
                background-position: 0 50%;
                background-size: 100% 100%;
            }
        }
        a#openMenuBtn{
            display: none;
            @include media-740(){
                position: absolute;
                width: 83px;
                height: 83px;
                top: 0px;
                right: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url("../../images/Showcase/mobile_menu@1x.svg");
                background-size: 23px 23px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                z-index: 3;
            }
        }
        nav{
            @include media-740(){
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #A9FBF2;
                padding-top: pxtovh(65);
                transition: top .3s;
                top: -120%;
                z-index: 2;
                &.open{
                    top: 0;
                }
                &::before{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    content:"";
                    display: block;
                    width: 200px;
                    height: 26px;
                    background-image: url("../../images/Showcase/logo@3x.svg");
                    background-size: 100% 100%;
                }
            }
            .mobil_product{
                display: none;
                @include media-740(){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: pxtovh(120);
                    margin: 0 auto;
                    border-top: 3px solid #fff;
                    border-bottom: 3px solid #fff;
                    margin-top: pxtovh(30);
                    padding: 0 20px;
                    >a{
                        display: block;
                        width: (100% /3);
                        >img{
                            margin: 0 auto;
                            width: pxtovw(37, 414);;
                            height: pxtovw(37, 414);;
                        }
                        >p{
                            text-align: center;
                            margin-top: 9px;
                            font-size: 14px;
                            color: #000;
                        }
                    }
                }
            }
            .mobil_communities{
                display: none;
                @include media-740(){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: pxtovh(79);
                    margin: 0 auto;
                    border-bottom: 3px solid #fff;
                    >a{
                        display: block;
                        width: 20%;
                        padding: 10px 0;
                        >img{
                            margin: 0 auto;
                        }
                    }
                }
            }
            >a{
                float: left;
                display: block;
                line-height: 120px;
                font-family: Avenir;
                font-weight: 500;
                letter-spacing: 0.1px;
                color: #000000;
                margin-right: 47px;
                transition: color .2s;
                &#closeMenuBtn{
                    display: none;
                    @include media-740(){
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        top: 0px;
                        right: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: url("../../images/Showcase/menu_x@2x.svg");
                        background-size: 23px 23px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
                }
                @include media-740(){
                    float: none;
                    margin-right: 0px;
                    text-align: center;
                    line-height: 60px;
                }
                &:hover{
                    color:#1d3533;
                }
            }
        }
    }
}